<%#
# Author: Nicolas Meylan
# Date: 16 mars 2013
# Encoding: UTF-8
# File: _calendar.erb
%>

<div id="calendar_header">
  <p>

    <%= link_to "<< #{t(:link_prev_month)}", calendar_roadmap_path(@project_decorator.slug), {:style => 'float:left', :class => 'change_month ', :id => "#{@date.prev_month}"} %>
    <%= @date.strftime('%B, %Y') %>
    <%= link_to "#{t(:link_next_month)} >>", calendar_roadmap_path(@project_decorator.slug), {:style => 'float:right', :class => 'change_month', :id => "#{@date.next_month}"} %>
  </p>

</div>
<ul id="calendar_body">
  <% i = 1 %>
  <% while i <= Time.days_in_month(@date.month) %>
    <% date = Date.parse("#{@date.year}-#{@date.month}-#{i}") %>
    <li class="li_calendar_item odd_even">
      <div class="calendar_item">
        <div class="calendar_item_header">
          <%= i %>
        </div>

        <div class="calendar_item_body <%= 'target' if @versions_hash["#{date}"]%> <%= 'today' if Date.today.eql?(date)%>"
             id=" <%=@versions_hash["#{date}"] ? @versions_hash["#{date}"].id : '' %>" data-url="<%= version_description_roadmap_path(@project_decorator.slug,@versions_hash["#{date}"].id) if @versions_hash["#{date}"]%>">
          <p>
            <% if @versions_hash["#{date}"] %>
              <%= @versions_hash["#{date}"].name %>
            <% end %>
          </p>
        </div>
      </div>
    </li>
    <% i+=1 %>
  <% end %>
</ul>
<div style="clear:both"></div>
