<%#
# Author: Nicolas Meylan
# Date: 22 avr. 2013
# Encoding: UTF-8
# File: gantt.html.erb
%>
<%= javascript_include_tag 'dhtmlxgantt' %>

<script src="http://export.dhtmlx.com/gantt/api.js"></script>
<%= stylesheet_link_tag 'dhtmlxgantt' %>

<%= contextual t(:label_gantt_chart) do %>
    <%= button_to_with_permissions(@sessions[@project.slug][:gantt][:edition] ? t(:link_switch_to_view) : t(:link_switch_to_edition), manage_gantt_project_roadmap_path(@project_decorator.slug, {mode: @sessions[@project.slug][:gantt][:edition] ? 'view' : 'edition'}), @project_decorator, nil, {method: 'get', remote: true, id: 'switch_gantt_mode', class: "btn btn-default"}) %>
<% end %>
<%= hidden_field_tag :gantt_mode, @sessions[@project.slug][:gantt][:edition] ? 'edition' : 'view' %>
<div class="gantt_scale_menu">
  <input type="radio" id="scale2" name="scale" value="2"/><label for="scale2">Week
  scale</label>
  <input type="radio" id="scale3" name="scale" value="3" checked/><label for="scale3">Month
  scale</label>
  <input type="radio" id="scale4" name="scale" value="4"/><label for="scale4">Year
  scale</label>
</div>
<%= clear_both %>
<%= select_tag :versions, options_for_select(versions.collect { |version| [version.caption, version.id] }, selected_versions.collect { |v| v.id }), {class: 'chzn-select', multiple: true, id: 'gantt_version_select', 'data-link' => gantt_project_roadmap_path(@project_decorator.slug)} %>

<%= button_to_with_permissions(t(:button_save), manage_gantt_project_roadmap_path(@project_decorator.slug), @project_decorator, nil, {method: 'post', remote: true, id: 'save_gantt', style: "display:#{@sessions[@project.slug][:gantt][:edition] ? 'block' : 'none'}", class: "btn btn-default"}) %>

<%= clear_both %>
<div id="gantt_chart" style="height: 600px">

</div>

<div class="splitcontentright" style="margin-top: 10px">
  <input value="Export to PDF" type="button" onclick='gantt.exportToPDF({header: "<%= stylesheet_link_tag('dhtmlxgantt').gsub('"', '').gsub('href=', 'href='+request.protocol+request.host.to_s+':'+request.port.to_s) %>" })' style='margin-right: 0;margin-left: 10px; float:right'>
  <input value="Export to PNG" type="button" onclick='gantt.exportToPNG({header: "<%= stylesheet_link_tag('dhtmlxgantt').gsub('"', '').gsub('href=', 'href='+request.protocol+request.host.to_s+':'+request.port.to_s) %>"})' style="float:right">
</div>
<p>
  About issues
  : <%= info_tag('Only task with a start and due date are displayed.') %><br>
  About edition
  : <%= info_tag('Blue issues are issues with missing information (start date or due date)') %>
</p>

