<%#
# Author: Nicolas Meylan
# Date: 22 avr. 2013
# Encoding: UTF-8
# File: gantt.html.erb
%>
<%= javascript_include_tag 'dhtmlxgantt' %>
<%= stylesheet_link_tag 'dhtmlxgantt' %>

<%= contextual t(:label_gantt_chart) do %>
    <%= button_to_with_permissions(@sessions[:gantt][:edition] ? t(:link_switch_to_view) : t(:link_switch_to_edition), manage_gantt_roadmap_path(@project.slug, {mode:  @sessions[:gantt][:edition] ? 'view' : 'edition'}), @project, nil, {method: 'get', remote: true, id: 'switch_gantt_mode'})%>
<% end %>
<%= hidden_field_tag :gantt_mode, @sessions[:gantt][:edition] ? 'edition' : 'view' %>
<div class="gantt_scale_menu">
  <input type="radio" id="scale2" name="scale" value="2"/><label for="scale2">Week scale</label>
  <input type="radio" id="scale3" name="scale" value="3" checked/><label for="scale3">Month scale</label>
  <input type="radio" id="scale4" name="scale" value="4"/><label for="scale4">Year scale</label>
</div>
<%= clear_both %>
<%= select_tag :versions, options_for_select(versions.collect { |version| [version.caption, version.id] }, selected_versions.collect { |v| v.id }), {class: 'chzn-select cbb-verylarge', multiple: true, id: 'gantt_version_select', 'data-link' => gantt_roadmap_path(@project.slug)} %>

<%= button_to_with_permissions(t(:button_save), manage_gantt_roadmap_path(@project.slug), @project, nil, {method: 'post', remote: true, id: 'save_gantt', style: "display:#{@sessions[:gantt][:edition] ? 'block' : 'none'}"})%>
<%= clear_both %>
<div id="gantt_chart" style="height: 600px">

</div>
<p>
  About issues : <%= info_tag('Only task with a start and due date are displayed.') %><br>
  About edition : <%= info_tag('Blue issues are issues with missing information (start date or due date)') %>
</p>