<%#
# Author: Nicolas Meylan
# Date: 16 mars 2013
# Encoding: UTF-8
# File: _calendar.erb
%>
<div id="calendar-header">
  <p>

    <%= link_to "<< #{t(:link_prev_month)}", spent_time_profile_path, {style: 'float:left', class: 'change-month ', id: "#{date_orig.prev_month}"} %>
    <%= date_orig.strftime('%B, %Y') %>
    <%= link_to "#{t(:link_next_month)} >>", spent_time_profile_path, {style: 'float:right', class: 'change-month', id: "#{date_orig.next_month}"} %>
  </p>

</div>
<ul id="calendar-body">
  <% i = 1 %>
  <% while i <= Time.days_in_month(date_orig.month) %>
      <% date = Date.parse("#{date_orig.year}-#{date_orig.month}-#{i}") %>
      <li class="li-calendar-item odd-even">
        <div class="calendar-item">
          <div class="calendar-item-header">
            <%= i %>
          </div>
          <div class="calendar-item-body">
            <ul>
              <% total = 0 %>
              <% time_entries[date].each do |time_entry| %>
                  <li>
                    <span class="calendar-item-left">
                      <%= link_to "##{time_entry.issue_id}", issue_path(time_entry.project.slug, time_entry.issue) %>
                    </span>
                    <span class="calendar-item-middle">
                      <%= link_to glyph(time_entry.spent_time.to_s, 'calendar'), fill_overlay_with_date_time_entries_path(time_entry.issue, date), {class: 'log-time'} %>
                    </span>
                    <span class="calendar-item-right">
                      <%= link_to glyph('', 'trashcan'), time_entry_path(time_entry.id), {remote: true, method: :delete, 'data-confirm'=> t(:text_delete_item)} %>
                    </span>
                  </li>
                  <% total += time_entry.spent_time %>
              <% end %>
            </ul>
          </div>
          <% if total > 0 %>
              <div class="calendar-item-bottom">
                <%= "#{t(:label_total_spent_time)} : #{total} h" %>
              </div>
          <% end %>
        </div>
      </li>
      <% i+=1 %>
  <% end %>
</ul>
<%= clear_both %>
<%= render partial: 'time_entries/log_issue_spent_time', locals: {issue_id: nil, tracker_name: nil, time_entry: time_entry} %>
