<%#=
 * User: nmeylan
 * Date: 08.07.14
 * Time: 14:39
%>
<%= contextual nil do %>
    <%= content_tag :h1, class: :avatar do %>
        <%= user_decorator.display_avatar('', :medium) %>
        <%= "#{user_decorator.login} (#{user_decorator.name})" %>
    <% end %>
<% end %>
<div class="splitcontentleft" style="width:30%">
  <h2><%= t(:label_about) %></h2>
  <ul>
    <li><%= t(:field_email) %> : <%= user_decorator.email %></li>
    <li><%= t(:label_last_sign_in) %>
      : <%= user_decorator.current_sign_in %></li>
    <li><%= t(:label_register_on) %> : <%= user_decorator.register_on %></li>
  </ul>
  <h2><%= t(:label_project) %></h2>
  <%= user_decorator.display_projects %>
</div>
<div class="splitcontentright" style="width:70%">
  <div id="activities">
    <%= display_activities(activities, selected_date, from_date) %>
    <%= content_for :sidebar do %>
        <h2><%= t(:label_activities) %></h2>
        <%= sidebar_types_selection(types, selected_types, selected_period, selected_date, user_decorator) %>
    <% end %>
  </div>
</div>
<%= render partial: 'comments/comments_overlay' %>
<%= clear_both %>