<%#=
 * User: nmeylan
 * Date: 08.07.14
 * Time: 14:39
%>

<%= contextual "Welcome #{current_user.name}" %>

<div class="splitcontentleft">
  <div class="box">
    <%= box_header_tag t(:text_my_favorites_projects) %>
    <%= projects.display_collection %>
  </div>
</div>
<div class="splitcontentright">
  <div class="box">
    <%= box_header_tag t(:label_my_latest_assigned_request)%>
    <%= issues.display_simple_list %>
  </div>
  <div class="box slim">
    <%= box_header_tag t(:text_my_latest_activities)%>
    <% if activities %>
        <%= render :partial => 'profiles/activities', :locals => {:activities => activities} %>
    <% else %>
    <% end %>
  </div>
</div>
<%= clear_both %>