<%#
# Author: Nicolas Meylan
# Date: 10 oct. 2012
# Encoding: UTF-8
# File: _sidebar.html.erb
%>

<%= content_for :sidebar do %>
    <h2><%= @user.name %></h2>
    <h3><%= t(:label_my_pages) %></h3>
    <ul>
      <li><%= link_to t(:link_my_spent_time), spent_time_profile_path %></li>
    </ul>
    <h3><%= t(:label_my_preferences) %></h3>
    <ul>
      <li><%= link_to t(:label_notifications), notification_preferences_profile_path %></li>
      <li><%= link_to t(:link_custom_queries), custom_queries_profile_path %></li>
      <li><%= link_to t(:link_my_projects), projects_profile_path %></li>
    </ul>
    <h3><%= t(:label_setting_plural) %></h3>
    <ul>
      <li><%= link_to t(:link_change_email), '#' %></li>
      <li><%= link_to t(:link_change_password), change_password_profile_path %></li>
    </ul>
<% end %>
