<%#
# Author: Nicolas Meylan
# Date: 27 janv. 2013
# Encoding: UTF-8
# File: change_password.html.erb
%>
<%= render :partial => 'profiles/sidebar' %>
<%= form_for(@user, :url => {:controller => 'profiles', :action => 'change_password', :id => @user.id}, :html => {:method => :post, :class => 'form'}) do |f| %>
<%= raw error_messages(@user.errors.full_messages) %>
  <p>
    <label for="user_password"><%=t(:password)%><span class ="required"> *</span></label>
    <%= f.password_field(:password) %>
  </p>
  <p>
    <label for="user_retype_password"><%=t(:field_retype_password)%><span class ="required"> *</span></label>
    <%= f.password_field(:retype_password) %>
  </p>
  <%= submit_tag t(:button_save) %>
<% end %>
