<%#=
 * User: nmeylan
 * Date: 21.09.14
 * Time: 16:57
%>
<%= contextual t(:link_notification_preferences) %>
<%= render :partial => 'profiles/sidebar' %>

<%= form_tag notification_preferences_profile_path, {method: :post} do %>
    <div class="box">
      <%= box_header_tag(t(:text_notification_preferences)) %>
      <div>
        <h2><%= t(:label_participating) %></h2>

        <p><%= t(:text_notification_participating) %></p>
        <%= check_box_tag '[preferences][participant_email]', @keys[:notification_participant_email],
                          @preferences.any? { |pref| pref.key.eql?('notification_participant_email') } %>
        <%= label_tag '[preferences][participant_email]', t(:field_email) %>
        <%= check_box_tag '[preferences][participant_in_app]', @keys[:notification_participant_in_app],
                          @preferences.any? { |pref| pref.key.eql?('notification_participant_in_app') } %>
        <%= label_tag '[preferences][participant_in_app]', t(:field_in_app) %>
      </div>
      <div class="separator"></div>
      <div>
        <h2><%= t(:label_watching) %></h2>

        <p><%= t(:text_notification_watching) %></p>
        <%= check_box_tag '[preferences][watcher_email]', @keys[:notification_watcher_email],
                          @preferences.any? { |pref| pref.key.eql?('notification_watcher_email') } %>
        <%= label_tag '[preferences][watcher_email]', t(:field_email) %>
        <%= check_box_tag '[preferences][watcher_in_app]', @keys[:notification_watcher_in_app],
                          @preferences.any? { |pref| pref.key.eql?('notification_watcher_in_app') } %>
        <%= label_tag '[preferences][watcher_in_app]', t(:field_in_app) %>
      </div>

    </div>
    <%= submit_tag t(:button_save) %>
<% end %>