<div id="issues_statuses_content">
  <table class="issues_status list">
    <tr class="header">
      <th>Name</th>
      <th>Default done ratio</th>
      <th>Is closed?</th>
      <th></th>
      <th></th>
    </tr>
    <% @issues_statuses.each do |issues_status| %>
      <tr class="odd_even" id="<%= issues_status.id %>">
        <td class="list_left name">
          <% if current_user.allowed_to?('edit','Issues_statuses') %>
            <%= link_to issues_status.enumeration.name, edit_issues_status_path(issues_status.id) %>
          <% else %>
            <%= issues_status.enumeration.name %>
          <% end %>
        </td>
        <td class="list_center done_ratio">
          <%= issues_status.default_done_ratio%>
        </td>
        <td class="list_center is_closed">
          <%= issues_status.is_closed ? 'true' : 'false' %>
        </td>
        <td class="action">
          <% if issues_status.enumeration.position > 1 %>
            <%= link_to '', '#',  {:class => 'icon icon-up_arrow change_position dec'} %>
          <% else %>
            <%= link_to '', '#',  {:class => 'icon icon-disabled_up_arrow'} %>
          <% end %>
          <% if issues_status.enumeration.position < @max %>
            <%= link_to '', '#',  {:class => 'icon icon-down_arrow change_position inc'}  %>
          <% else %>
            <%= link_to '', '#',  {:class => 'icon icon-disabled_down_arrow'} %>
          <% end %>
        </td>
        <td class="action">
          <%= link_to_with_permissions(t(:link_delete), 
            issues_status_path(issues_status.id), 
            @project, 
            {:method => :delete, 
              :target => 'self',
              :html => {:class => 'icon icon-del', 
                :onclick => "button_delete('#{issues_status_path(issues_status.id)}')"}}) %>
           </td>
      </tr>
    <%end%>
  </table>
</div>
<script type="text/javascript">
  bind_version_change_positions("<%= change_position_issues_statuses_path %>");
</script>