<%#
# Author: Nicolas Meylan
# Date: 5 août 2012
# Encoding: UTF-8
# File: _checklist_overlay.html.erb
%>

<div class="overlayOuter" id="checklist_overlay">
  <div class="overlayInner">
    <span>
      <%= text_field_tag 'item_field', nil, :placeholder => 'add an item', :size => 50, :maxlength => 50 %>
      <%= link_to '', '#', {:class => 'icon icon-add', :id => 'add_checklist_item'} %>
    </span>
    <div id="checklist">
      <%= form_tag({:action => 'save_checklist', :id => @issue}, :id => 'checklist_form', :remote=>true ) do -%>
        <ul id="items">
          <% @checklist_items.sort!{|x,y| x.position <=> y.position}.each do |item| %>
            <div class='autocomplete-combobox nosearch no-padding_left' id="item-<%=item.name.gsub(/\s/,'')%>">
              <%= select_tag "items[#{item.name}]", options_from_collection_for_select(@checklist_statuses, 'id', 'name', item.enumeration_id), {:class => 'chzn-select cbb-medium', :id => item.name.gsub(/\s/,'') } %>
              <label style='margin-left:10px' id="label-<%=item.name.gsub(/\s/,'')%>"><%= item.name %></label>
              <%= link_to '', '#', {:class => 'icon icon-del', :id => "link-"+item.name.gsub(/\s/,'')} %>
            </div>
          <% end %>
        </ul>
      </div>
      <div class="overlayButtons">
        <%= submit_tag t(:button_save), {:onclick => "jQuery('#checklist_overlay').overlay().close()"} %>
      <% end %>
      <button class="close" value="close"><%= t(:button_close) %></button>
    </div>
  </div>
</div>

<script type="text/javascript">
    checklist_behaviour('<%= @checklist_statuses.to_json %>');
</script>