<%#
# Author: Nicolas Meylan
# Date: 13 juil. 2012
# Encoding: UTF-8
# File: _form.html.erb
%>

<%= rorganize_form_for [@project, issue_decorator.model], wrapper: :horizontal_form, html: {class: 'form-horizontal', multipart: true} do |f| %>
    <%= raw error_messages(issue_decorator.errors.full_messages) %>
    <div class="row">
      <%= f.input :tracker_id, collection: form_content['trackers'], include_blank: false, input_html: {class: 'chzn-select cbb-medium'} %>
      <%= f.input :subject, require: false %>
      <%= f.input :description, as: :text, input_html: {rows: 12, class: 'fancyEditor'} %>
    </div>
    <div class="col-lg-offset-1 col-sm-offset-2">
      <div class="col-sm-6 no-padding">
        <% if User.current.allowed_to?('change_status', 'issues', project) %>
            <%= f.input :status_id, collection: form_content['allowed_statuses'], include_blank: false, input_html: {class: 'chzn-select cbb-medium'} %>
        <% end %>

        <% if User.current.allowed_to?('change_version', 'issues', project) %>
            <%= f.input :version_id, collection: project.active_versions, input_html: {class: 'chzn-select cbb-medium'}, control_class: "col-sm-3" %>
        <% end %>

        <% if User.current.allowed_to?('change_assigned', 'issues', project) %>
            <%= f.input :assigned_to_id, collection: form_content['members'], include_blank: false, input_html: {class: 'chzn-select cbb-medium'} %>
        <% end %>

        <% if User.current.allowed_to?('change_category', 'issues', project) %>
            <%= f.input :category_id, collection: form_content['categories'], include_blank: false, input_html: {class: 'chzn-select cbb-medium'} %>
        <% end %>
      </div>
      <div class="col-sm-6 no-padding">
        <% if User.current.allowed_to?('change_version', 'issues', project) %>
            <%= f.input :start_date, as: :date, html5: true, input_html: {id: 'calendar-start'} %>
            <%= f.input :due_date, as: :date, html5: true, input_html: {id: 'calendar'} %>
        <% end %>

        <% if User.current.allowed_to?('change_progress', 'issues', project) %>
            <%= f.input :done, collection: form_content['done_ratio'].map { |done| [done] }, include_blank: false, input_html: {class: 'chzn-select cbb-small'} %>
            <%= f.input :estimated_time %>
        <% end %>
      </div>
    </div>

    <% if User.current.allowed_to?('delete_attachment', 'Issues', project) %>

        <%= render "shared/attachment_form_block", model_decorator: issue_decorator %>
    <% end %>

    <%= f.button :submit %>
<% end %>
