<%#
# Author: Nicolas Meylan
# Date: 14 juil. 2012
# Encoding: UTF-8
# File: _list.html.erb
%>
<div id="issues_content" >
  <%= @issues.display_collection %>
    <ul id="issues_toolbox" class="jeegoocontext box toolbox">
      <% if @issues_toolbox %>
        <%= issue_toolbox(@issues_toolbox) %>
      <% end %>
    </ul>
</div>
<%# OVERLAY renderer %>
<%= render :partial => 'shared/delete_overlay', :locals => {:collection => @issues_toolbox} %>
<%= render :partial => 'queries/create_overlay'%>
<%= render :partial => 'issues/show_checklist', :locals => {:checklist_items => nil}%>
