<%#
# Author: Nicolas Meylan
# Date: 28 févr. 2013
# Encoding: UTF-8
# File: _list_per_project.erb
%>
<div id="issues_content">
  <table class="issue list">
    <tr class="header">
      <th><%= sortable 'issues.id', '#'%></th>
      <th><%= sortable 'trackers.name', 'Tracker'%></th>
      <th><%= sortable 'projects.name', 'Project' %></th>
      <th><%= sortable 'issues.subject', 'Subject' %></th>
      <th><%= sortable 'issues_statuses.enumeration_id', 'Status' %></th>
      <th><%= sortable 'issues.done', 'Done' %></th>

    </tr>
    <% issues.each do |issue| %>
      <tr class="odd_even issue_tr">
        <td class="list_center id"><%= issue.id %></td>
        <td class="list_center tracker"><%= issue.tracker ? issue.tracker.name : '-' %></td>
        <td class="list_center project"><%= link_to issue.project.name, overview_projects_path(issue.project.slug) %></td>
        <td class="subject"><%= link_to issue.subject, {:action => 'show', :controller => 'issues', :id => issue.id, :project_id => issue.project.slug}, {:id => issue.id} %></td>
        <td class="list_center status"><%= issue.status ? issue.status.enumeration.name : '-' %></td>
        <td class="list_center done"><%= issue.done ? issue.done.to_s+'%' : '-' %></td>
      </tr>
    <%end%>
  </table>

</div>
