<%#
# Author: Nicolas Meylan
# Date: 26 avr. 2013
# Encoding: UTF-8
# File: _predecessor.html.erb
%>

<h2><%= t(:label_predecessor) %> :</h2>

<% if @issue_decorator.parent.nil? %>
    <% if User.current.allowed_to?('add_predecessor', 'Issues', @project) %>
        <%= form_for(@issue_decorator, :url => add_predecessor_issues_path(@project.slug, @issue_decorator.id), :method => 'post', :html => {:remote => true, :class => 'form'}) do |f| %>
            <p>
              <label><%= t(:label_predecessor) %> : #</label>
              <%= f.text_field :predecessor_id, :size => 10 %>
              <%= submit_tag t(:button_save) %>
            </p>
        <% end %>
    <% else %>
        <p>-</p>
    <% end %>
<% else %>
    <% if User.current.allowed_to?('del_predecessor', 'Issues', @project) %>
        <p>
          #<%= @issue_decorator.predecessor_id %> :
          <%= link_to @issue_decorator.parent.subject, {:action => 'show', :controller => 'issues', :id => @issue_decorator.predecessor_id} %>
          <%= link_to glyph(t(:link_delete), 'trashcan'), del_predecessor_issues_path(@project.slug, @issue_decorator.id), {:remote => true, :confirm => t(:text_delete_item), :method => :delete} %>
        </p>
    <% else %>
        <p>#<%= @issue_decorator.predecessor_id %>
          : <%= link_to @issue_decorator.parent.caption, issue_path(@project.slug, @issue_decorator.parent.id) %></p>
    <% end %>
<% end %>
