<%#
# Author: Nicolas Meylan
# Date: 13 nov. 2012
# Encoding: UTF-8
# File: _show_attachments.erb
%>
<% if @issue.attachments .any? %>
  <div class="separator"></div>
  <h2><%= t(:field_attachments) %> :</h2>
  <% for attachment in attachments %>
    <p id="<%= attachment.id %>">
      <% if attachment.file_content_type.include?('image')  %>
        <a href="<%=attachment.file.url(:large)%>" class="lightbox"><%= image_tag attachment.file.url(:thumb) %></a>
      <% else %>
        <%= link_to attachment.file_file_name,{:action => 'download_attachment', :controller => 'issues', :path => attachment.file.path}, {:class => "icon-file #{attachment.file_content_type.gsub(/\//,'-')}"} %>
      <% end %>
      <%= link_to_with_permissions t(:link_delete), delete_attachment_issues_path(@project.slug,attachment.id), @projet, {:class => 'icon icon-del', :remote => true, :confirm => t(:text_delete_item ), :method => :delete}%>
    </p>
  <% end %>
<% end %>