<%#
# Author: Nicolas Meylan
# Date: 27 août 2012
# Encoding: UTF-8
# File: _toolbox.html.erb
%>
<%= form_tag(toolbox_issues_path(@project.slug),:remote => true, :id => 'toolbox_form') do -%>
  <% ids = @issues_toolbox.collect{|issue| issue.id} %>
  <% if current_user.allowed_to?('change_assigned','Issues',@project) %>
    <li><%= link_to t(:field_assigned_to), '#', {:class => 'icon icon-group', :id => 'assigned_to'} %>
      <ul class="submenu assigned_to_id">
        <% if !menu['members'].nil? && menu['members'].any? %>
          <%= hidden_field_tag 'value[assigned_to_id]' %>
          <% menu['members'].each do |member| %>
            <li><%= link_to member, '#', {:class => menu['current_states']['member'].include?(member) ? 'icon icon-toggle_check' : 'no-icon'} %></li>
          <% end %>
        <%  end %>
      </ul>
    </li>
  <% end %>
  <% if current_user.allowed_to?('change_version','Issues',@project) %>
    <li><%= link_to t(:field_version), '#', {:class => 'icon icon-target', :id => 'version'} %>
      <ul class="submenu version_id">
        <% if !menu['versions'].nil? && menu['versions'].any? %>
          <%= hidden_field_tag 'value[version_id]' %>
          <% menu['versions'].each do |version| %>
            <li><%= link_to version, '#', {:class => menu['current_states']['version'].include?(version) ? 'icon icon-toggle_check' : 'no-icon'} %></li>
          <% end %>
        <%  end %>
      </ul>
    </li>
  <% end %>
  <% if current_user.allowed_to?('change_status','Issues',@project) %>
    <li><%= link_to t(:field_status), '#', {:class => 'icon icon-status', :id => 'status'}%>
      <ul class="submenu status_id">
        <% if !menu['allowed_statuses'].nil? && menu['allowed_statuses'].any? %>
          <%= hidden_field_tag 'value[status_id]' %>
          <% menu['allowed_statuses'].each do |status| %>
            <li><%= link_to status, '#', {:class => menu['current_states']['status'].include?(status) ? 'icon icon-toggle_check' : 'no-icon'} %></li>
          <% end %>
        <%  end %>
      </ul>
    </li>
  <% end %>
  <% if current_user.allowed_to?('change_category','Issues',@project) %>
    <li><%= link_to t(:field_category), '#', {:class => 'icon icon-package'}%>
      <ul class="submenu category_id">
        <% if !menu['categories'].nil? && menu['categories'].any? %>
          <%= hidden_field_tag 'value[category_id]' %>
          <% menu['categories'].each do |category| %>
            <li><%= link_to category, '#', {:class => menu['current_states']['category'].include?(category) ? 'icon icon-toggle_check' : 'no-icon'} %></li>
          <% end %>
        <%  end %>
      </ul>
    </li>
  <% end %>
  <% if current_user.allowed_to?('change_progress','Issues',@project) %>
    <li><%= link_to t(:field_done), '#', {:class => 'icon icon-done'}%>
      <ul class="submenu done">
        <% if !menu['done_ratio'].nil? && menu['done_ratio'].any? %>
          <%= hidden_field_tag 'value[done]' %>
          <% menu['done_ratio'].each do |done| %>
            <li><%= link_to done, '#', {:class => menu['current_states']['done'].include?(done) ? 'icon icon-toggle_check' : 'no-icon'} %></li>
          <% end %>
        <%  end %>
      </ul>
    </li>
  <% end %>
  <li><%= link_to t(:link_start_today), '#', {:class => 'icon icon-calendar', :id => 'start_today',
      :onclick => "button_post_with_message('#{start_today_issues_path(@project.slug)}','#{t(:text_set_start_date_today)}',{ids : #{@issues_toolbox.collect{|issue| issue.id}}, context : 'toolbox' })"}%></li>
  <% if current_user.allowed_to?('edit','Issues',@project) %>
    <li><%= link_to t(:link_edit), {:action => 'edit', :project_id => @project.slug, :id => ids[0]}, {:class => 'icon icon-edit'} if @issues_toolbox.size == 1%></li>
  <% end %>
  <% if current_user.allowed_to?('destroy','Issues',@project) %>
    <li><%= link_to t(:link_delete), '#', {:class => 'icon icon-del', :onclick => "jQuery('#delete_overlay').overlay().load();"}%></li>
  <% end %>
  <% ids.each do |id| %>
    <%= hidden_field_tag 'ids[]', id %>
  <% end %>
<% end -%>

<script type="text/javascript">
  createOverlay("#delete_overlay", 150);
  jQuery(".submenu a").click(function(e) {
    e.preventDefault();
    // find the context of the selected options: e.g: "category" for update menu["categories"] of the selected issues
    var context = _.without(jQuery(this).parents(".submenu").attr('class').split(' '), 'submenu', 'hover');
    //put new value into hidden field which name is matching with context
    jQuery("input#value_" + context).val(jQuery(this).text());
    jQuery.ajax({
      url : '<%=toolbox_issues_path(@project.slug)%>',
      dataType : 'script',
      type :'POST',
      data : jQuery("#toolbox_form").serializeArray()
    });
  });
</script>