<%#
# Author: Nicolas Meylan
# Date: 8 juil. 2012
# Encoding: UTF-8
# File: index.html.erb
%>
<div class="contextual">
  <h1><%= t(:label_issue_plural) %></h1>
  <div class="splitcontentright">
    <%= link_to_with_permissions(glyph(t(:link_new_issue), 'plus'), new_issue_path(@project.slug), @project, {:method => :get}) %>
  </div>

</div>

  <%= render :partial => 'issues/filter' %>
  <%= render :partial => 'issues/list' %>
  <%= render :partial => 'issues/sidebar' %>


