<%#
# Author: Nicolas Meylan
# Date: 15 juil. 2012
# Encoding: UTF-8
# File: show.html.erb
%>

<%= contextual (@issue_decorator.tracker_str)+' : #'+@issue_decorator.id.to_s do %>
    <%= @issue_decorator.new_link %>
    <%= @issue_decorator.edit_link %>
    <%= @issue_decorator.new_comment_link %>
    <%= @issue_decorator.log_time_link %>
    <%= @issue_decorator.display_watch_button %>
    <%= @issue_decorator.delete_link %>
<% end %>

<h2><%= @issue_decorator.subject %></h2>

<%= @issue_decorator.creation_info %>
<table class="detail" style="width:100%">
  <tr>
    <th style="width:15%"><%= t(:field_status) %> :</th>
    <td style="width:30%"><%= @issue_decorator.display_status %></td>
    <th style="width:15%"><%= t(:field_start_date) %> :</th>
    <td style="width:30%"><%= @issue_decorator.display_start_date %></td>
  </tr>
  <tr>
    <th style="width:15%"><%= t(:field_assigned_to) %> :</th>
    <td style="width:30%"><%= @issue_decorator.display_assigned_to %></td>
    <th style="width:15%"><%= t(:field_due_date) %> :</th>
    <td style="width:30%"><%= @issue_decorator.display_due_date %></td>
  </tr>
  <tr>
    <th style="width:15%"><%= t(:field_version) %> :</th>
    <td style="width:30%"><%= @issue_decorator.display_version %></td>
    <th style="width:15%"><%= t(:field_estimated_time) %> :</th>
    <td style="width:30%"><%= @issue_decorator.estimated_time %></td>
  </tr>
  <tr>
    <th style="width:15%"><%= t(:field_category) %> :</th>
    <td style="width:30%"><%= @issue_decorator.display_category %></td>
    <th style="width:15%"><%= t(:field_done) %> :</th>
    <td style="width:30%" class="tooltipped tooltipped-w" label="<%= @issue_decorator.done %>%"><%= @issue_decorator.display_done_progression('width-100') %></td>
  </tr>
</table>
<br/>
<hr/><br/>
<h2><%= t(:field_description) %> :</h2>
<%= @issue_decorator.display_description %>


<div class="separator"></div>

<%= link_to glyph('', 'chevron-right'), '#', {class: 'icon icon-collapsed toggle right', style: 'float:right', id: 'gantt-informations'} %>
<%= clear_both %>
<div class="content gantt-informations">
  <div id="predecessor">
    <%= render partial: 'issues/predecessor', locals: {issue_decorator: @issue_decorator, project: @project} %>
  </div>
  <hr/>
  <div id="children">
    <%= render partial: 'issues/children', locals: {issue_decorator: @issue_decorator} %>
  </div>
</div>

<%#= ATTACHMENT %>
<div id="attachments">
  <%= render partial: 'shared/show_attachments', locals: {attachments: @issue_decorator.attachments, object: @issue_decorator} %>
</div>

<%= @issue_decorator.display_history(history) %>

<%= @issue_decorator.add_comment_block %>
<%= render partial: 'time_entries/log_issue_spent_time', locals: {issue_id: @issue_decorator.id, tracker_name: @issue_decorator.tracker, time_entry: @time_entry} %>
