<%#
# Author: Nicolas Meylan
# Date: 15 juil. 2012
# Encoding: UTF-8
# File: show.html.erb
%>

<%= contextual (@issue.tracker)+' : #'+@issue.id.to_s do %>
    <%= @issue.new_link %>
    <%= @issue.edit_link %>
    <%= @issue.start_today_link %>
    <%= @issue.update_link %>
    <%= @issue.new_comment_link %>
    <%= @issue.checklist_link %>
    <%= @issue.log_time_link %>
    <%= @issue.delete_link %>
<% end %>

<h2><%= @issue.subject %></h2>
<p>
  <em>
    <%= @issue.creation_info(journals) %>
  </em>
</p>
<table class="detail" style="width:100%">
  <tr>
    <th style="width:15%"><%= t(:field_status) %> :</th>
    <td style="width:30%"><%= @issue.status.caption %></td>
    <th style="width:15%"><%= t(:field_start_date) %> :</th>
    <td style="width:30%"><%= @issue.start_date %></td>
  </tr>
  <tr>
    <th style="width:15%"><%= t(:field_assigned_to) %> :</th>
    <td style="width:30%"><%= @issue.assigned_to %></td>
    <th style="width:15%"><%= t(:field_due_date) %> :</th>
    <td style="width:30%"><%= @issue.due_date %></td>
  </tr>
  <tr>
    <th style="width:15%"><%= t(:field_version) %> :</th>
    <td style="width:30%"><%= @issue.version %></td>
    <th style="width:15%"><%= t(:field_estimated_time) %> :</th>
    <td style="width:30%"><%= @issue.estimated_time %></td>
  </tr>
  <tr>
    <th style="width:15%"><%= t(:field_category) %> :</th>
    <td style="width:30%"><%= @issue.category %></td>
    <th style="width:15%"><%= t(:field_done) %> :</th>
    <td style="width:30%"><%= @issue.done %></td>
  </tr>
</table>
<br/>
<hr/><br/>
<h2><%= t(:field_description) %> :</h2>
<%= @issue.display_description %>

<div class="separator"></div>
<h2>Checklist :</h2>
<ul class="checklist" id="ck_refresh">
  <%= render :partial => 'issues/checklist_items', :locals => {:checklist_items => checklist_items} %>
</ul>

<span><%= @issue.checklist_link %></span>

<div class="separator"></div>

<%= link_to glyph('', 'chevron-right'), '#', {:class => 'icon icon-collapsed toggle right', :style => 'float:right', :id => 'gantt_informations'} %>
<%= clear_both %>
<div class="content gantt_informations">
  <div id="predecessor">
    <%= render :partial => 'issues/predecessor' %>
  </div>
  <hr/>
  <div id="children">
    <%= render :partial => 'issues/children' %>
  </div>
</div>

<%#= ATTACHMENT %>
<div id="attachments">
  <%= render :partial => 'shared/show_attachments', :locals => {:attachments => @issue.attachments, :object => @issue} %>
</div>

<%= @issue.display_history(journals) %>

<div id="update_issue">
  <div class="separator"></div>
  <h2><%= glyph(t(:link_update), 'x') %></h2>

  <div class="box">
    <%= render :partial => 'issues/update_form', :locals => {:allowed_statuses => allowed_statuses, :done_ratio => done_ratio} %>
  </div>
</div>
<%= comments.display_collection %>
<%= @issue.add_comment_block %>
<%= render :partial => 'issues/checklist_overlay', :locals => {:checklist_items => checklist_items} %>
<%= render :partial => 'time_entries/log_issue_spent_time', :locals => {:issue_id => @issue.id, :tracker_name => @issue.tracker} %>
