<%#
# Author: Nicolas Meylan
# Date: 15 juil. 2012
# Encoding: UTF-8
# File: show.html.erb
%>

<div class="contextual">
  <h1><%= (@issue.tracker ? @issue.tracker.name : '-')+' : #'+@issue.id.to_s %></h1>

  <div class="splitcontentright">
<%#= New link %>
    <%= link_to_with_permissions( t(:link_new_issue),new_issue_path(@project.slug), @project, {:method => :get, :class => 'icon icon-add'}) %>
<%#= Edit link %>
    <%= link_to_with_not_owner_permissions(t(:link_edit),edit_issue_path(@project.slug, @issue.id),@project,@issue.author_id, {:method => :get,:class => 'icon icon-edit'}) %>
<%#= Start date link %>
    <%= link_to t(:link_start_today), start_today_issues_path(@project.slug, @issue.id),
                {:class => 'icon icon-calendar', :id => 'start_today', :data => {:confirm => t(:text_set_start_date_today)},
                 :method => :post,:remote => true} %>
<%#= Update link %>
    <%= link_to t(:link_update), '#update_issue', {:class => 'icon icon-update_issue', :id => 'update_issue_link'} %>
<%#= Checklist link %>
    <%= link_to_with_permissions(t(:link_checklist),checklist_issues_path(@project.slug), @project, {:class => 'icon icon-checklist open_checklist_overlay'}) %>
<%#= Log time link %>
    <%= link_to t(:link_log_time),fill_overlay_time_entries_path(@issue.id) , {:id => 'log_time', :class => 'icon icon-time'} %>
<%#= Delete link %>
    <%= link_to_with_not_owner_permissions( t(:link_delete), issue_path(@project.slug, @issue.id), @project,@issue.author_id,
                {:method => :delete, :class => 'icon icon-del',:remote => true, :confirm => t(:text_delete_item )}) %>
  </div>
</div>

<h2><%= @issue.subject %></h2>
<p>
  <em>
    <%= "#{t(:label_added)}
        #{distance_of_time_in_words(@issue.created_at, Time.now)}
        #{t(:label_ago)}, #{t(:label_by)} #{@issue.author ? @issue.author.name : t(:label_unknown)}. #{(@issue.created_at.eql?(@issue.updated_at) ? '' :
            "#{t(:label_updated)} #{distance_of_time_in_words(@issue.updated_at, Time.now)}
            #{t(:label_ago)}.").to_s}" %>
  </em>
</p>
<table class="detail" style="width:100%">
  <tr>
    <th style="width:15%"><%= t(:field_status) %> :</th>
    <td style="width:30%"><%= @issue.status ? @issue.status.enumeration.name : '-' %></td>
    <th style="width:15%"><%= t(:field_start_date) %> :</th>
    <td style="width:30%"><%= @issue.start_date ? @issue.start_date : '-' %></td>
  </tr>
  <tr>
    <th style="width:15%"><%= t(:field_assigned_to) %> :</th>
    <td style="width:30%"><%= @issue.assigned_to ? @issue.assigned_to.name : '-' %></td>
    <th style="width:15%"><%= t(:field_due_date) %> :</th>
    <td style="width:30%"><%= @issue.due_date ? @issue.due_date : '-' %></td>
  </tr>
  <tr>
    <th style="width:15%"><%= t(:field_version) %> :</th>
    <td style="width:30%"><%= @issue.version ? @issue.version.name : '-' %></td>
    <th style="width:15%"><%= t(:field_estimated_time) %> :</th>
    <td style="width:30%"><%= @issue.estimated_time ? @issue.estimated_time.to_s+'h' : '-' %></td>
  </tr>
  <tr>
    <th style="width:15%"><%= t(:field_category) %> :</th>
    <td style="width:30%"><%= @issue.category ? @issue.category.name : '-' %></td>
    <th style="width:15%"><%= t(:field_done) %> :</th>
    <td style="width:30%"><%= @issue.done ? @issue.done.to_s+'%' : '-' %></td>
  </tr>
</table>
<br/>
<hr/><br/>
<h2><%= t(:field_description) %> :</h2>
<%= raw !@issue.description.eql?('') ? textile_to_html(@issue.description) : '-' %>

<div class="separator"></div>
<h2>Checklist :</h2>
<ul class="checklist" id="ck_refresh">
  <%= render :partial => "issues/checklist_items", :locals => {:checklist_items => checklist_items} %>
</ul>
<span><%= link_to_with_permissions(t(:link_checklist),checklist_issues_path(@project.slug), @project, {:class => 'icon icon-checklist open_checklist_overlay'}) %>
 </span>
<div class="separator"></div>
<%= link_to '', '#', {:class => 'icon icon-collapsed toggle right', :style => 'float:right', :id => 'gantt_informations'} %>
<div style="clear:both "></div>
<div class="content gantt_informations">
  <div id="predecessor">
    <%= render :partial => 'issues/predecessor' %>
  </div>
  <hr/>
  <div id="children">

    <%= render :partial => 'issues/children' %>
  </div>
</div>
<%#= ATTACHMENT %>
<div id="attachments">
  <%= render :partial => 'issues/show_attachments', :locals => {:attachments => @issue.attachments} %>
</div>

<% if journals.any? %>
    <%= render :partial => 'issues/history', :locals => {:journals => journals} %>
<% end %>
<div id="update_issue">
  <div class="separator"></div>
  <h2><%= t(:link_update) %></h2>

  <div class="box">
    <%= render :partial => 'issues/update_form', :locals => {:allowed_statuses => allowed_statuses, :done_ratio => done_ratio} %>
  </div>
</div>
<%= render :partial => 'issues/checklist_overlay', :locals => {:checklist_items =>  checklist_items} %>
<%= render :partial => 'time_entries/log_issue_spent_time', :locals => {:issue_id => @issue.id, :tracker_name => @issue.tracker.name} %>
