<%#
# Author: Nicolas Meylan
# Date: 15 juil. 2012
# Encoding: UTF-8
# File: show.html.erb
%>

<%= contextual (@issue_decorator.tracker_str)+' : #'+@issue_decorator.sequence_id.to_s do %>
    <%= @issue_decorator.new_link %>
    <%= @issue_decorator.edit_link %>
    <%= @issue_decorator.new_comment_link %>
    <%= @issue_decorator.log_time_link %>
    <%= @issue_decorator.display_watch_button %>
    <%= @issue_decorator.delete_link %>
<% end %>

<h2><%= @issue_decorator.subject %></h2>

<%= @issue_decorator.creation_info %>
<div class="row">
  <dl class="col-sm-6 dl-horizontal">
    <dt><%= Issue.human_attribute_name(:status) %> :</dt>
    <dd><%= @issue_decorator.display_status %></dd>
    <dt><%= Issue.human_attribute_name(:assigned_to) %> :</dt>
    <dd><%= @issue_decorator.display_assigned_to %></dd>
    <dt><%= Issue.human_attribute_name(:version) %> :</dt>
    <dd><%= @issue_decorator.display_version %></dd>
    <dt><%= Issue.human_attribute_name(:category) %> :</dt>
    <dd><%= @issue_decorator.display_category %></dd>
  </dl>
  <dl class="col-sm-6 dl-horizontal">
    <dt><%= Issue.human_attribute_name(:field_start_date) %> :</dt>
    <dd><%= @issue_decorator.display_start_date %></dd>
    <dt><%= Issue.human_attribute_name(:field_due_date) %> :</dt>
    <dd><%= @issue_decorator.display_due_date %></dd>
    <dt><%= Issue.human_attribute_name(:estimated_time) %> :</dt>
    <dd><%= @issue_decorator.display_estimated_time %></dd>
    <dt><%= Issue.human_attribute_name(:done) %> :</dt>
    <dd data-toggle="tooltip" data-placement="left" title="<%= @issue_decorator.done %>%"><%= @issue_decorator.display_done_progression %></dd>
  </dl>
</div>

<br/>
<hr/><br/>
<h2><%= t(:field_description) %> :</h2>
<%= @issue_decorator.display_description %>


<div class="separator"></div>

<%= link_to glyph('open', 'chevron-right'), '#gantt-informations', {class: 'pull-right', data: {toggle: 'collapse'}} %>
<%= clear_both %>
<div class="collapse" id="gantt-informations">
  <div id="predecessor">
    <%= render partial: 'issues/predecessor', locals: {issue_decorator: @issue_decorator, project: @project} %>
  </div>
  <hr/>
  <div id="children">
    <%= render partial: 'issues/children', locals: {issue_decorator: @issue_decorator} %>
  </div>
</div>

<%#= ATTACHMENT %>
<div id="attachments">
  <%= render partial: 'shared/show_attachments', locals: {attachments: @issue_decorator.attachments, object: @issue_decorator} %>
</div>

<%= @issue_decorator.display_history(history) %>

<%= @issue_decorator.add_comment_block %>
<%= render partial: 'time_entries/log_issue_spent_time', locals: {issue_id: @issue_decorator.sequence_id, tracker_name: @issue_decorator.tracker, time_entry: @time_entry} %>
