<%#
# Author: Nicolas Meylan
# Date: 29 sept. 2012
# Encoding: UTF-8
# File: _form.html.erb
%>

<%= raw error_messages(@user.errors.full_messages) %>
<div class="box">
  <p>
    <label for="user_login"><%=t(:field_login)%><span class ="required"> *</span></label>
    <%= f.text_field :login, :size => 50, maxlength: 50 %>
  </p>
  <p>
    <label for="user_name"><%=t(:field_name)%><span class ="required"> *</span></label>
    <%= f.text_field :name, :size => 50, maxlength: 50 %>
  </p>
  <p>
    <label for="user_email"><%=t(:field_email)%><span class ="required"> *</span></label>
    <%= f.text_field :email, :size => 50, maxlength: 255 %>
  </p>
  <% unless @user.id %>
    <p>
      <label for="user_password"><%=t(:field_password)%><span class ="required"> *</span></label>
      <%= f.text_field :password, :size => 50 %>
    </p>
  <% end %>
  <p>
    <label for="user_admin>"><%= t(:field_administrator) %></label>
    <%= f.check_box(:admin) %>
  </p>
</div>
