<%#=
 * User: nmeylan
 * Date: 21.07.14
 * Time: 18:56
%>
<% if !attachment.new_record? && attachment.file_content_type %>
    <tr id="<%= attachment.id %>">
      <td class="attachment_title">
        <% if attachment.file_content_type.include?('image') %>
            <a href="<%= attachment.file.url(:large) %>" class="lightbox"><%= image_tag attachment.file.url(:thumb) %></a>
        <% else %>
            <%= link_to glyph(attachment.file_file_name, attachment.icon_type), attachment.file.url, {target: 'blank'} %>
        <% end %>
      </td>
      <td class="attachment_delete_link"><%= object.delete_attachment_link(attachment) %></td>
    </tr>
<% end %>