<%#
Author : Nicolas
Date: 23 juin 2013 
Encoding: UTF-8
File: pages.html
%>


<div class="contextual">
  <h1><%= t(:link_pages) %></h1>
  <div class="splitcontentright">
    <% if current_user.allowed_to?('set_organization', 'Wiki', @project) %>
      <%= link_to t(:link_organize_pages), organize_pages_wiki_index_path(@project.identifier), {:class => "icon icon-hierarchy"} %>
    <% end %>  
    <%= link_to_with_permissions(t(:link_new_page), 
      new_wiki_page_path(@project.slug), 
      @project, {:method => :get, :html => {:class => "icon icon-document"}}) %>
  </div>
</div>
<%= render :partial => 'wiki/sidebar' %>
<% if @wiki_pages.any? %>
  <div id="wiki_pages">
    <%= display_pages(@wiki_pages, nil) %>
  </div>
<% else %>
  <h2><%= t(:text_no_data) %></h2>
<% end %>

