<%#
# Author: Nicolas Meylan
# Date: 15 août 2012
# Encoding: UTF-8
# File: _project_informations_form.erb
%>

<%= form_for(@project_decorator, :url => {:controller => 'settings', :action => 'update_project_informations', :project_id => @project_decorator.slug},
             :html => {:class => 'form', :multipart => true}, :method => :put) do |f| %>
    <%= raw error_messages(@project.errors.full_messages) %>
    <div class="box">
      <p>
        <label for="project_name"><%= t(:field_name) %><span class="required">
          *</span></label>
        <%= f.text_field :name, :size => 80 %>
      </p>

      <p>
        <%= f.label :is_public, t(:field_is_public) %>
        <%= f.check_box :is_public %>
        <%= info_tag(t(:info_public_project)) %>
      </p>

      <p>
        <%= f.label :description, t(:field_description) %>
        <%= f.text_area :description, :class => 'fancyEditor' %>
      </p>

      <p>
        <% @trackers_decorator.settings_list %>
      </p>

      <div id="attachments">
        <p>
          <label><%= t(:field_attachments) %></label>
          <% if @project_decorator.attachments[0].new_record? %>
              <%= render :partial => 'shared/attachments', :collection => @project_decorator.attachments, locals: {object: @project_decorator, type: 'project'} %>
          <% else %>
              <%= render :partial => 'shared/show_attachments', locals: {object: @project_decorator, type: 'project', :attachments => @project_decorator.attachments, no_header: true} %>
          <% end %>
        </p>
      </div>
    </div>
    <%= submit_tag t(:button_save) %>
<% end %>