<%#
# Author: Nicolas Meylan
# Date: 15 août 2012
# Encoding: UTF-8
# File: sidebar.html.erb
%>

<%=  content_for :sidebar do %>
  <ul class="tabs">
    <li class="settings_index"><%= link_to t(:link_update_informations),settings_path(@project.slug)%></li>
    <% if current_user.allowed_to?('index','Versions',@project) %>
      <li class="versions">
        <%= link_to t(:link_versions),
         versions_path(@project.slug)%>
      </li>
    <% end %>
    <% if current_user.allowed_to?('index','Categories',@project) %>
      <li class="categories">
        <%= link_to t(:link_categories),
          categories_path(@project.slug)%>
      </li>
    <% end %>
    <% if current_user.allowed_to?('index','Members',@project)%>
      <li class="members">
        <%= link_to t(:link_members),
          members_path(@project.slug)%>
      </li>
    <% end %>
    <% if current_user.allowed_to?('public_queries', 'Queries', @project) %>
      <li class="settings_public_queries">
        <%= link_to t(:link_queries),
          public_queries_settings_path(@project.slug) %>
      </li>
    <% end %>
    <% if current_user.allowed_to?('modules', 'Settings', @project) %>
      <li class="settings_modules">
        <%= link_to t(:link_modules),
          modules_settings_path(@project.slug) %>
      </li>
    <% end %>
    <li class="settings_repository"><%= link_to t(:link_repository),'#' %></li>
    <% if current_user.allowed_to?('archive', 'Project', @project) %>
      <li class="project_delete warning">
        <% if !@project.is_archived %>
          <%= link_to t(:text_close_this_project),'#',
            {:onclick => "button_post_with_message('#{archive_project_index_path(@project.id)}',
        '#{t(:text_archive_project)}',
        {is_archived: true})"} %>
        <% else %>
          <%= link_to t(:text_open_this_project),'#',
            {:onclick => "button_post_with_message('#{archive_project_index_path(@project.id)}',
        '#{t(:text_open_project)}',
        {is_archived: false})"} %>
        <% end %>
      </li>
    <% end %>
    <% if current_user.allowed_to?('destroy', 'Project', @project) %>
      <li class="project_delete alert">
        <%= link_to t(:text_delete_this_project),'#',
          {:onclick => "button_delete_with_message('#{project_path(@project.id)}','#{t(:text_delete_project)}')"} %>
      </li>
    <% end %>
  </ul>
<% end %>

<script type="text/javascript">
<% if controller.controller_name.eql?("settings") %>
    jQuery("#sidebar li[class='<%=controller.controller_name%>_<%=controller.action_name%>']").toggleClass("selected");
<% else %>
    jQuery("#sidebar li[class='<%=controller.controller_name%>']").toggleClass("selected");
<%  end %>
</script>