<%#
# Author: Nicolas Meylan
# Date: 15 août 2012
# Encoding: UTF-8
# File: sidebar.html.erb
%>

<%= content_for :sidebar do %>
    <ul class="tabs">
      <li class="settings-index"><%= link_to t(:link_update_informations), settings_path(project.slug) %></li>
      <% if User.current.allowed_to?('index', 'Versions', project) %>
          <li class="versions">
            <%= link_to glyph(t(:link_versions), Rorganize::ACTION_ICON[:version_id]),
                        versions_path(project.slug) %>
          </li>
      <% end %>
      <% if User.current.allowed_to?('index', 'Categories', project) %>
          <li class="categories">
            <%= link_to glyph(t(:link_categories), Rorganize::ACTION_ICON[:category_id]),
                        categories_path(project.slug) %>
          </li>
      <% end %>
      <% if User.current.allowed_to?('index', 'Members', project) %>
          <li class="members">
            <%= link_to glyph(t(:link_members), 'organization'),
                        members_path(project.slug) %>
          </li>
      <% end %>
      <% if User.current.allowed_to?('public_queries', 'Queries', project) %>
          <li class="settings-public-queries">
            <%= link_to glyph(t(:link_queries), 'database'),
                        public_queries_settings_path(project.slug) %>
          </li>
      <% end %>
      <% if User.current.allowed_to?('modules', 'Settings', project) %>
          <li class="settings-modules">
            <%= link_to glyph(t(:link_modules), 'plug'),
                        modules_settings_path(project.slug) %>
          </li>
      <% end %>
      <% if User.current.allowed_to?('archive', 'Projects', project) %>
          <li class="project-delete warning">
            <%= link_to !project.is_archived ? glyph(t(:text_close_this_project), 'lock') : glyph(t(:text_open_this_project), 'unlock'), archive_projects_path(project.slug),
                        {remote: true, data: {confirm: !project.is_archived ? t(:text_archive_project) : t(:text_open_project)}, method: :post} %>
          </li>
      <% end %>
      <% if User.current.allowed_to?('destroy', 'Projects', project) %>
          <li class="project-delete alert">
            <%= link_to glyph(t(:text_delete_this_project), 'trashcan'), project_path(project.slug),
                        {remote: true, data: {confirm: t(:text_delete_project)}, method: :delete} %>
          </li>
      <% end %>
    </ul>
<% end %>

<script type="text/javascript">
    <% if controller.controller_name.eql?('settings') %>
    jQuery("#sidebar li[class='<%=controller.controller_name.tr('_','-')%>-<%=controller.action_name.tr('_','-')%>']").toggleClass("selected");
    <% else %>
    jQuery("#sidebar li[class='<%=controller.controller_name.tr('_','-')%>']").toggleClass("selected");
    <%  end %>
</script>