<%#
# Author: Nicolas Meylan
# Date: 20 mai 2013
# Encoding: UTF-8
# File: new.html.erb
%>
<div class="contextual">
  <h1><%= t(:label_new_home_page) %></h1>
  <div class="splitcontentright">

  </div>
</div>
 <%= render :partial => 'wiki/sidebar' %>
<%= form_for @wiki_page_decorator, {:url => wiki_pages_path,:html => {:class => 'form'}, :method => :post}  do |f|%>
  <%= hidden_field_tag  'wiki[home_page]', true%>
  <%= render :partial => 'wiki_pages/form', :locals => {:f => f} %>
  <%= submit_tag t(:button_create) %>
<% end %>