<%#
Author : Nicolas
Date: 25 juin 2013 
Encoding: UTF-8
File: new_sub_page.html
%>

<div class="contextual">
  <h1><%= t(:label_new_home_page) %></h1>
  <div class="splitcontentright">

  </div>
</div>
 <%= render :partial => 'wiki/sidebar' %>
<%= form_for @wiki_page, {:url => wiki_pages_path,:html => {:class => 'form'}, :method => :post}  do |f|%>
  <%= hidden_field_tag  'wiki_page[parent_id]', params[:id]%>
  <%= render :partial => 'wiki_pages/form', :locals => {:f => f} %>
  <%= submit_tag t(:button_create) %>
<% end %>