<%#
# Author: Nicolas Meylan
# Date: 31 oct. 2012
# Encoding: UTF-8
# File: _filter.html.erb
%>

<fieldset>
  <legend><%= link_to t(:link_filter), '#', {:class => 'icon icon-collapsed toggle', :id => 'document'} %></legend>
  <div class="content">
    <%= form_tag url_for(:controller => 'documents', :action => 'index'),{:method => :get, :class => 'filter_form', :id => 'filter_form', :remote => true} do -%>
  <%#= Start of the form %>
      <%= radio_button_tag 'type', 'all', true, {:align => 'center'} %><%= t(:label_all) %>
      <%= radio_button_tag 'type', 'filter', false %><%= t(:link_filter) %>
      <div class="autocomplete-combobox nosearch no-padding_left no-height">
        <%= select_tag 'filters_list', options_for_select(Document.filtered_attributes),:class => 'chzn-select cbb-verylarge', :id => 'filters_list', :multiple => true%>
      </div>
  <%#= Options for query, element will pop here %>
      <table id="filter_content">

      </table>
      <%= submit_tag t(:button_apply), {:style => 'margin-left:0px'} %>
    <% end -%>
  </div>
</fieldset>
