<%#
# Author: Nicolas Meylan
# Date: 27 août 2012
# Encoding: UTF-8
# File: _toolbox.html.erb
%>
<%= form_tag(toolbox_documents_path(@project.slug),:remote => true, :id => 'toolbox_form') do %>
  <% ids = @documents_toolbox.collect{|document| document.id} %>
  <% if current_user.allowed_to?('edit','Documents',@project) %>
    <li><%= link_to t(:field_version), '#', {:class => 'icon icon-target', :id => 'version'} %>
      <ul class="submenu version_id">
        <% if !menu['versions'].nil? && menu['versions'].any? %>
          <%= hidden_field_tag 'value[version_id]' %>
          <% menu['versions'].each do |version| %>
            <li><%= link_to version.name, '#', {:class => menu['current_states']['version'].include?(version) ? 'icon icon-toggle_check' : 'no-icon', :'data-id' => version.id} %></li>
          <% end %>
            <li><%= link_to "None", '#', {:class => menu['current_states']['version'].include?(nil) ? 'icon icon-toggle_check' : 'no-icon', :'data-id' => -1} %></li>
        <%  end %>
      </ul>
    </li>
    <li><%= link_to t(:field_category), '#', {:class => 'icon icon-package'}%>
      <ul class="submenu category_id">
        <% if !menu['categories'].nil? && menu['categories'].any? %>
          <%= hidden_field_tag 'value[category_id]' %>
          <% menu['categories'].each do |category| %>
            <li><%= link_to category.name, '#', {:class => menu['current_states']['category'].include?(category) ? 'icon icon-toggle_check' : 'no-icon',:'data-id' => category.id} %></li>
          <% end %>
            <li><%= link_to "None", '#', {:class => menu['current_states']['category'].include?(nil) ? 'icon icon-toggle_check' : 'no-icon',:'data-id' => -1} %></li>
        <%  end %>
      </ul>
    </li>
    <li><%= link_to t(:link_edit), {:action => 'edit', :project_id => @project.slug, :id => ids[0]}, {:class => 'icon icon-edit'} if @documents_toolbox.size == 1%></li>
  <% end %>
  <% if current_user.allowed_to?('destroy','Documents',@project) %>
    <li><%= link_to t(:link_delete), '#', {:class => 'icon icon-del', :id=> "open_delete_overlay"}%></li>
  <% end %>
  <% ids.each do |id| %>
    <%= hidden_field_tag 'ids[]', id %>
  <% end %>
<% end %>
