<%#
# Author: Nicolas Meylan
# Date: 6 avr. 2013
# Encoding: UTF-8
# File: show.html.erb
%>

<%= contextual "#{t(:label_document)} ##{@document.id}" do -%>
    <%= link_to_with_permissions(glyph(t(:link_new_document), 'plus'), new_document_path(@project.slug), @project) %>
    <%= link_to_with_permissions(glyph(t(:link_edit), 'pencil'), edit_document_path(@project.slug, @document.id), @project) %>
    <%= link_to_with_permissions(glyph(t(:link_delete), 'trashcan'), document_path(@project.slug, @document.id), @project, {:method => :delete, :remote => true, :confirm => t(:text_delete_item)}) %>
<% end -%>

<h2><%= @document.name %></h2>
<p>
  <em>
    <%= "#{t(:label_added)} #{distance_of_time_in_words(@document.created_at, Time.now)} #{t(:label_ago)}, #{t(:label_by)} #{journal_created.user.name}. #{(@document.created_at.eql?(@document.updated_at) ? '' : "#{t(:label_updated)} #{distance_of_time_in_words(@document.updated_at, Time.now)} #{t(:label_ago)}.").to_s}" %>
  </em>
</p>
<table class="detail" style="width:100%">
  <tr>
    <th style="width:15%"><%= t(:field_version) %> :</th>
    <td style="width:30%"><%= @document.version ? @document.version.name : '-' %></td>
  </tr>
  <tr>
    <th style="width:15%"><%= t(:field_category) %> :</th>
    <td style="width:30%"><%= @document.category ? @document.category.name : '-' %></td>
  </tr>
</table>
<br/>
<hr/><br/>
<h2><%= t(:field_description) %> :</h2>
<%= raw !@document.description.eql?('') ? textile_to_html(@document.description) : '-' %>

<%#= ATTACHMENT %>
<div id="attachments">
  <%= render :partial => 'documents/show_attachments', :locals => {:attachments => @document.attachments} %>
</div>

<% if journals.any? %>
    <div id="history">
      <%= raw history_render(journals) %>
    </div>
<% end %>
