<%#
# Author: Nicolas Meylan
# Date: 6 avr. 2013
# Encoding: UTF-8
# File: show.html.erb
%>

<%= contextual "#{t(:label_document)} ##{@document.id}" do -%>
    <%= @document.new_link %>
    <%= @document.new_comment_link %>
    <%= @document.edit_link %>
    <%= @document.delete_link %>

<% end -%>

<h2><%= @document.name %></h2>
<p>
  <em>
    <%= @document.creation_info(history.journals) %>
  </em>
</p>
<table class="detail" style="width:100%">
  <tr>
    <th style="width:15%"><%= t(:field_version) %> :</th>
    <td style="width:30%"><%= @document.version %></td>
  </tr>
  <tr>
    <th style="width:15%"><%= t(:field_category) %> :</th>
    <td style="width:30%"><%= @document.category  %></td>
  </tr>
</table>
<br/>
<hr/><br/>
<h2><%= t(:field_description) %> :</h2>
<%= @document.display_description %>

<%#= ATTACHMENT %>
<div id="attachments">
  <%= render :partial => 'shared/show_attachments', :locals => {:attachments => @document.attachments, :object => @document} %>
</div>

<%= @document.display_history(history) %>

<%= @document.add_comment_block %>