<%#
# Author: Nicolas Meylan
# Date: 1 mars 2013
# Encoding: UTF-8
# File: _my_activities.erb
%>
<% if @activities.any? %>
  <% @activities.each do |date,activities| %>
    <b><%= "#{date}" %></b>
    <% activities.each do |activity| %>
      <%= raw activities_text_builder(activity, false) %>
      <ul style="margin-left:30px">
        <% activity.details.each do |detail| %>
          <%= raw history_detail_render(detail) %>
        <% end %>
      </ul>
      <% if !activity.notes.nil? && !activity.notes.eql?('') %>
        <div class="box_notes" style="margin-left:30px">
          <%= raw textile_to_html(activity.notes) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= t(:text_no_data)   %>
<% end %>
