<%#
# Author: Nicolas Meylan
# Date: 3 juil. 2012
# Encoding: UTF-8
# File: _form.erb.erb
%>
<%= form_for(project_decorator, :url => projects_path, :html => {:class => 'form', :multipart => true}) do |f| %>
    <%= %>
    <%= raw error_messages(project_decorator.errors.full_messages) %>
    <div class="box">
      <p>
        <label for="project_name"><%= t(:field_name) %><span class="required">
          *</span></label>
        <%= f.text_field :name, :size => 80 %>
      </p>

      <p>
        <%= f.label :is_public, t(:field_is_public) %>
        <%= f.check_box :is_public %>
        <%= info_tag(t(:info_public_project)) %>
      </p>

      <p>
        <%= f.label :description, t(:field_description) %>
        <%= f.text_area :description, :class => 'fancyEditor', rows: '12' %>
      </p>

      <p>
        <% trackers_decorator.settings_list %>
      </p>

      <div id="attachments">
        <p>
          <label><%= t(:field_attachments) %></label>
        </p>
        <%= render :partial => 'shared/attachments', :collection => project_decorator.attachments, locals: {object: project_decorator, type: 'project'} %>
      </div>
    </div>


    <%= submit_tag t(:button_create) %>
<% end %>
