<%#
# Author: Nicolas Meylan
# Date: 3 juil. 2012
# Encoding: UTF-8
# File: _form.erb.erb
%>
<%= rorganize_form_for(project_decorator, wrapper: :horizontal_form, wrapper_mappings: {boolean: :horizontal_boolean, check_boxes: :horizontal_radio_and_checkboxes}, html: {class: 'form-horizontal', multipart: true}) do |f| %>
    <%= raw error_messages(project_decorator.errors.full_messages) %>

    <%= f.input :name %>
    <%= f.input :is_public, hint: t(:info_public_project) %>
    <%= f.input :description, as: :text, input_html: {class: 'fancyEditor', rows: '12'} %>
    <%= f.input :tracker_ids, collection: trackers_decorator, as: :check_boxes, wrapper_html: {class: "inline-block"} %>

    <div id="attachments">
      <div class="form-group">
        <label class="col-lg-2 col-sm-3 control-label"><%= t(:field_attachments) %></label>
        <%= render partial: 'shared/attachments', collection: project_decorator.attachments, locals: {object: project_decorator, type: 'project'} %>
      </div>
    </div>


    <%= submit_tag t(:button_create) %>
<% end %>
