<%#
# Author: Nicolas Meylan
# Date: 9 mars 2013
# Encoding: UTF-8
# File: _issues_activities.html.erb
%>


<%= link_to t(:link_this_month), activity_filter_projects_path(@project.slug, 'tm'),
    {:class => "activities_filter #{session['project_activities_filter'][1].eql?('tm') ? 'selected' : ''}",
    :id => 'tm', :remote => true, :method => :post} %> |
  <%= link_to t(:link_last_three_month), activity_filter_projects_path(@project.slug, 'ltm'),
    {:class => "activities_filter #{session['project_activities_filter'][1].eql?('ltm') ? 'selected' : ''}",
    :id => 'ltm', :remote => true, :method => :post} %> |
  <%= link_to t(:link_last_six_month), activity_filter_projects_path(@project.slug, 'lsm'),
    {:class => "activities_filter #{session['project_activities_filter'][1].eql?('lsm') ? 'selected' : ''}",
    :id => 'lsm', :remote => true, :method => :post} %> |
  <%= link_to t(:link_this_year), activity_filter_projects_path(@project.slug, 'ty'),
    {:class => "activities_filter #{session['project_activities_filter'][1].eql?('ty') ? 'selected' : ''}",
    :id => 'ty', :remote => true, :method => :post} %> |
  <%= link_to t(:link_all), activity_filter_projects_path(@project.slug, 'all'),
    {:class => "activities_filter #{session['project_activities_filter'][1].eql?('all') ? 'selected' : ''}",
    :id => 'all', :remote => true, :method => :post} %>
  <hr/>
<% if @issue_activities.any?%>
  <%= raw  activities_ary(@issue_activities) %>
<% else %>
  <h2><%= t(:text_no_data) %></h2>
<% end %>

