<%#
# Author: Nicolas Meylan
# Date: 21 févr. 2013
# Encoding: UTF-8
# File: _list.html.erb
%>
<div id="projects">
  <% if  projects && projects.any? %>
    <ul class="project list <%=allow_to_star ? 'sortable' : ''%>">
      <% projects.each do |project| %>
        <li class="<%= project.is_archived ? 'archived' : '' %>" id="<%=project.id%>">
          <a class="project" href="<%= overview_projects_path(project.slug) %>">
    <%#= If project has a logo %>
            <% if project.attachments.any? %>
              <div class="splitcontentleft" style="margin-top: 9px">
                <h2><%= project.name %><%= image_tag("<%= asset_path 'locked.png' %>") if project.is_archived%></h2>
              </div>
              <div class="splitcontentright">
                  <%= image_tag project.attachments.first.file.url(:logo), :align => :right %>
              </div>
              <div style="clear:both;"></div>
            <% else %>
              <h2><%= project.name %><%= image_tag("<%= asset_path 'locked.png' %>") if project.is_archived%></h2>
            <% end %>
            <hr />
            <div class="splitcontentleft">
              <p class="icon"><%= image_tag("<%= asset_path 'group.png' %>")%> : <%= project.members.size %> <%= t(:label_member_one_or_more) %></p>
              <p class="icon"><%= image_tag("<%= asset_path 'document.png' %>")%> : <%= project.issues.size %> <%= t(:label_request_one_or_more) %></p>
            </div>

            <div class="splitcontentright">
              <p class="icon"><%= image_tag("<%= asset_path 'calendar.png' %>")%> : <%= project.created_at.to_date.to_formatted_s(:long_ordinal) %></p>
            </div>
            <div style="clear:both;"></div>
            <%if allow_to_star %>
              <% if project.starred? %>
                <%= link_to '', star_project_my_index_path(project.id), {:class => 'icon icon-fav starred star', :method => :post, :remote => true} %>
              <% else %>
                <%= link_to '', star_project_my_index_path(project.id), {:class => 'icon icon-fav-off star', :method => :post, :remote => true} %>
              <% end %>
            <% end %>
          </a>
        </li>
      <% end %>
    </ul>
    <% if allow_to_star %>
      <%= submit_tag t(:button_save), {:id => 'save_position', 'data-link' => save_project_position_my_index_path} %>
    <% end %>
  <% else %>
    <h2><%= t(:text_no_data) %></h2>
  <% end %>

</div>