<%#
# Author: Nicolas Meylan
# Date: 21 févr. 2013
# Encoding: UTF-8
# File: _list.html.erb
%>
<div id="projects">
  <% if  @members && @members.any? %>
    <ul class="project list <%=allow_to_star ? "sortable" : ""%>">
      <% @members.sort!{|x, y| x.project_position <=> y.project_position} %>
      <% @members.each do |member| %>
        <% project = member.project %>
        <li class="<%= project.is_archived ? "archived" : ""%>" id="<%=project.id%>">
          <a class="project" href="<%= url_for({:action => 'overview', :controller => 'project', :project_id => project.identifier}) %>">
            <% if project.attachments.any? %>
              <div class="splitcontentleft" style="margin-top: 9px">
                <h2><%= project.name %><%= image_tag('/assets/locked.png') if project.is_archived%></h2>
              </div>
              <div class="splitcontentright">
                <% for attachment in project.attachments %>
                  <%= image_tag attachment.file.url(:logo), :align => :right %>
                <% end %>
              </div>
              <div style="clear:both;"></div>
            <% else %>
              <h2><%= project.name %><%= image_tag('/assets/locked.png') if project.is_archived%></h2>
            <% end %>
            <hr />
            <div class="splitcontentleft">
              <p class="icon"><%= image_tag('/assets/group.png')%> : <%= project.members.count %> <%= t(:label_member_one_or_more) %></p>
              <p class="icon"><%= image_tag('/assets/document.png')%> : <%= project.issues.count %> <%= t(:label_request_one_or_more) %></p>
            </div>

            <div class="splitcontentright">
              <p class="icon"><%= image_tag('/assets/calendar.png')%> : <%= project.created_at.to_date.to_formatted_s(:long_ordinal) %></p>
            </div>
            <div style="clear:both;"></div>

          </a>
          <%if !@members.nil? && allow_to_star %>
            <% if member.is_project_starred %>
              <%= link_to "", "#", {:class => "icon icon-fav starred star"} %>
            <% else %>
              <%= link_to "", "#", {:class => "icon icon-fav-off star"} %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <% if allow_to_star %>
      <%= submit_tag t(:button_save), {:id => "save_position"} %>
    <% end %>
  <% else %>
    <h2><%= t(:text_no_data) %></h2>
  <% end %>

  <script type="text/javascript">
    bind_star_project("<%=url_for({:action => "star_project", :controller => "my", :id => current_user.id})%>");
    jQuery(".sortable").sortable();
    bind_save_project_position("<%=url_for({:action => "save_project_position", :controller => "my", :id => current_user.id})%>");
  </script>

</div>