<%#
# Author: Nicolas Meylan
# Date: 1 juil. 2012
# Encoding: UTF-8
# File: index.html.erb
#Projects list
%>
<div class="contextual">
  <h1><%= t(:label_project_plural) %></h1>
  <div class="splitcontentright">
    <%= link_to_with_permissions(
      t(:link_new_permission), new_project_path, nil, {:method => :get, :html => {:class => 'icon icon-add'}}) %>
  </div>
  <div style="clear:both;"></div>
</div>

<%= link_to t(:link_all), '#all',
  {:class => "project_selection_filter #{session['project_selection_filter'].eql?('all') ? 'selected' : ''}",
  :id => 'all'} %> |
<%= link_to t(:link_starred), '#starred',
  {:class => "project_selection_filter #{session['project_selection_filter'].eql?('starred') ? 'selected' : ''}",
  :id => 'starred'} %> |
<%= link_to t(:link_opened), '#opened',
  {:class => "project_selection_filter #{session['project_selection_filter'].eql?('opened') ? 'selected' : ''}",
  :id => 'opened'} %> |
<%= link_to t(:link_archived), '#archived',
  {:class => "project_selection_filter #{session['project_selection_filter'].eql?('archived') ? 'selected' : ''}",
  :id => 'archived'} %>


<%= render :partial => 'projects/list', :locals => {:allow_to_star => false, :projects => projects}  %>
<script type="text/javascript">
  project_selection_filter("<%=url_for({:action => 'index', :controller => 'projects'})%>");
</script>