<%#
# Author: Nicolas Meylan
# Date: 1 juil. 2012
# Encoding: UTF-8
# File: index.html.erb
#Projects list
%>
<div class="contextual">
  <h1><%= t(:label_project_plural) %></h1>
  <div class="splitcontentright">
    <%= link_to_with_permissions(
      glyph(t(:link_new_project), 'plus'), new_project_path, nil, {:method => :get}) %>
  </div>
  <div style="clear:both;"></div>
</div>

<%= link_to t(:link_all), filter_projects_path('all'),
  {:class => "project_selection_filter #{session['project_selection_filter'].eql?('all') ? 'selected' : ''}",
  :id => 'all', :remote => true, :method => :post} %> |
<%= link_to t(:link_starred), filter_projects_path('starred'),
  {:class => "project_selection_filter #{session['project_selection_filter'].eql?('starred') ? 'selected' : ''}",
  :id => 'starred', :remote => true, :method => :post} %> |
<%= link_to t(:link_opened), filter_projects_path('opened'),
  {:class => "project_selection_filter #{session['project_selection_filter'].eql?('opened') ? 'selected' : ''}",
  :id => 'opened', :remote => true, :method => :post} %> |
<%= link_to t(:link_archived), filter_projects_path('archived'),
  {:class => "project_selection_filter #{session['project_selection_filter'].eql?('archived') ? 'selected' : ''}",
  :id => 'archived', :remote => true, :method => :post} %>


<%= render :partial => 'projects/list', :locals => {:allow_to_star => false, :projects => projects}  %>
