<%#
# Author: Nicolas Meylan
# Date: 1 juil. 2012
# Encoding: UTF-8
# File: index.html.erb
#Projects list
%>
<div class="contextual">
  <h1><%= t(:label_project_plural) %></h1>
  <div class="splitcontentright">
    <%= link_to t(:link_new_project), {:action => 'new', :controller => 'project'}, {:class => 'icon icon-add'} %>
  </div>
  <div style="clear:both;"></div>
</div>

<ul class="project list">
  <% @allowed_projects.each do |project| %>
    <li>
      <a class="project" href="<%= url_for({:action => 'overview', :controller => 'project', :project_id => project.identifier}) %>">
        <h2><%= project.name %></h2>
         <hr />
        <div class="splitcontentleft">
          <p class="icon"><%= image_tag('/assets/group.png')%> : <%= project.members.count %> <%= t(:label_member_one_or_more) %></p>
          <p class="icon"><%= image_tag('/assets/document.png')%> : <%= project.issues.count %> <%= t(:label_request_one_or_more) %></p>
        </div>

        <div class="splitcontentright">
          <p class="icon"><%= image_tag('/assets/calendar.png')%> : <%= project.created_at.to_date.to_formatted_s(:long_ordinal) %></p>
        </div>
        <div style="clear:both;"></div>
      </a>
    </li>
  <% end %>
</ul>
