<%#
# Author: Nicolas Meylan
# Date: 1 juil. 2012
# Encoding: UTF-8
# File: index.html.erb
#Project overview
%>
<%= contextual t(:label_overview) %>

<div class="splitcontentleft" id="project_description">
  <%= @project.display_description %>
</div>

<div class="splitcontentright box">
  <%= box_header_tag t(:label_member_plural) %>
  <%= @project.display_members %>
</div>

<div class="splitcontentright box" id="project_running_versions">
  <%= box_header_tag t(:label_running_versions) %>
  <%= @project.display_version_overview %>
</div>


<%= clear_both %>