<%#
# Author: Nicolas Meylan
# Date: 1 juil. 2012
# Encoding: UTF-8
# File: index.html.erb
#Project overview
%>
<%= contextual t(:label_overview) %>

<div class="splitcontentleft" id="project_description">
  <%= raw textile_to_html(@project.description) %>
</div>

<div class="splitcontentright box">
  <div class="header"><h2><%= t(:label_member_plural) %></h2></div>
  <%= raw project_members(members) %>
</div>
<% if versions.any? %>
    <div class="splitcontentright box" id="project_running_versions">
      <div class="header"><h2><%= t(:label_running_versions) %></h2></div>
      <% versions.each do |version| %>
          <%= render :partial => 'versions/version_overview', :locals => {version: version, opened_issues_count: versions_details[version.id][:opened_issues_count], :closed_issues_count => versions_details[version.id][:closed_issues_count], percent: versions_details[version.id][:percent]} %>
      <% end %>
    </div>
<% end %>

<div class="splitcontentright box">
  <div class="header"><h2><%= t(:label_last_request_plural) %></h2></div>
  <ul>
    <% last_requests.sort { |x, y| y.id <=> x.id }.each do |issue| %>
        <li><%= link_to issue.subject, issue_path(@project.slug, issue.id) %></li>
    <% end %>
  </ul>
</div>

<div style="clear:both;"></div>
<div style="clear:both;"></div>