<%#
# Author: Nicolas Meylan
# Date: 13 oct. 2012
# Encoding: UTF-8
# File: edit.html.erb
%>

<div class="contextual">
  <h1><%= t(:link_edit_permission) %></h1>
  <div class="splitcontentright">
    <% if current_user.allowed_to?('destroy','Permissions')%>
      <% unless @permission.is_locked %>
        <%= link_to t(:link_delete), '#', {:class => 'icon icon-del', :onclick => "button_delete('#{permission_path}')"} %>
      <% else %>
        <span class="icon icon-lock"><%= t(:link_delete) %></span>
      <% end %>
    <% end %>
  </div>
</div>
<%= form_for @permission, :url => permission_path, :method => :put, :html => {:class => 'form'} do |f|%>
  <%= render :partial => 'permissions/form', :locals => {:f => f, :controllers => controllers} %>
  <%= submit_tag t(:button_save) %>
<% end %>
