<%#
# Author: Nicolas Meylan
# Date: 12 oct. 2012
# Encoding: UTF-8
# File: index.html.erb
%>

<div class="contextual">
  <h1><%= t(:link_permissions) %></h1>
  <div class="splitcontentright">
    <%= link_to t(:link_new_permission), {:action => 'new'}, {:class => 'icon icon-add'} if current_user.allowed_to?('new','Permissions') %>
  </div>
</div>

<%= t(:text_choose_role) %>:

<ul>
  <% @roles.each do |role| %>
    <li>
      <% if current_user.allowed_to?('list','Permissions') %>
        <%= link_to role.name, {:action => 'list', :role_name => role.name.gsub(" ", "_")} %>
      <% else %>
        <%= role.name %>
      <% end %>
    </li>
  <% end %>
</ul>

<br/>
<hr/>
<br/>
<p>
  Permissions are one of the most important part of the application.<br/>
  The majority of them were build during the building of the application.<br/>
  So that why you neither can delete them neither edit their properties, except their name.<br/>
  <br/>
  In addition, certain permissions are considered as more or less critical.<br/>
  Indeed take a look of the following rules:
<ul>
  <li>
    If your permissions are named: Delete, Remove or Destroy.. will apear like this:
    <span class="alert icon icon-alert">Dangerous permissions</span>
  </li>
  <li>
    If your permission affect a critical controller (e.g administration), controllers will apears like this :
    <span class="icon icon-warning">Critical controller</span>
  </li>
</ul>
</p>