<%#
# Author: Nicolas Meylan
# Date: 12 oct. 2012
# Encoding: UTF-8
# File: list.html.erb
%>

<div class="contextual">
  <h1><%= t(:link_permissions) %> - <%= params[:role_name].gsub('_', ' ') %></h1>
</div>
<%= form_tag({:action => 'update_permissions', :controller => 'permissions'}) %>
<div class="box">
  <% permissions.sort{|x,y| x <=> y}.each do |k,v| %>
    <fieldset>
      <legend>
        <%= link_to '', '#',
          {:class => 'icon icon-checked', :id => 'check_all_'+k.to_s, 'cb_checked' => 'b', :title => 'check all'} %>

        <% if critical_controllers(k) %>
          <span class="icon icon-warning">
          <% end %>
          <%= link_to k, '#', {:class => 'icon icon-expanded toggle', :id => k} %>
          <% if critical_controllers(k) %>
          </span>
        <% end %>
      </legend>
      <div class="content <%=k%>">
        <% v.each do |key,value| %>
          <%= check_box_tag  "[permissions][#{key}]", value, selected_permissions.include?(value)%>
          <label>
            <%= link_to key, edit_permission_path(value),
              {:class => (critical_permissions(key) ? 'alert icon icon-alert' : '')}%>
          </label>

        <% end %>
      </div>
    </fieldset>
  <% end %>
</div>
<%= submit_tag 'save' %>
