<%#
# Author: Nicolas Meylan
# Date: 15 août 2012
# Encoding: UTF-8
# File: _versions_list.html.erb
%>

<div id="versions_content">
  <table class="version list">
    <tr class="header">
      <th>Name</th>
      <th>Start date</th>
      <th>Target date</th>
      <th></th>
      <th></th>
    </tr>
    <% @versions.each do |version| %>
      <tr class="odd_even" id="<%= version.id %>">
        <td class="list_left name"><% if current_user.allowed_to?('edit','Versions',@project) %>
            <%= link_to version.name, edit_version_path(@project.slug, version.id)%>
          <% else %>
            <%= version.name %>
          <% end %>
        </td>
        <td class="list_center start_date"><%= version.start_date ? version.start_date : '-' %></td>
        <td class="list_center version"><%= version.target_date ? version.target_date : '-' %></td>
        <td class="action">
          <% if current_user.allowed_to?('change_position','Versions',@project) %>
            <% if version.position > 1 %>
              <%= link_to '', '#',  {:class => 'icon icon-up_arrow change_position dec'} %>
            <% else %>
              <%= link_to '', '#',  {:class => 'icon icon-disabled_up_arrow'} %>
            <% end %>
            <% if version.position < @max %>
              <%= link_to '', '#',  {:class => 'icon icon-down_arrow change_position inc'}  %>
            <% else %>
              <%= link_to '', '#',  {:class => 'icon icon-disabled_down_arrow'} %>
            <% end %>
          <% end %>
        </td>

        <td class="action">
         <%= link_to_with_permissions(t(:link_delete), 
            version_path(@project.slug, version.id), 
            @project, 
            {:method => :delete, 
              :target => 'self',
              :html => {:class => 'icon icon-del', 
                :onclick => "button_delete('#{version_path(@project.slug, version.id)}')"}}) %>
        </td>

      </tr>
    <%end%>
  </table>
</div>

<script type="text/javascript">
  bind_version_change_positions("<%=change_position_versions_path(@project.slug) %>");
</script>