<%#
# Author: Nicolas Meylan
# Date: 15 août 2012
# Encoding: UTF-8
# File: versions.html.erb
%>

<div class="contextual">
  <h1><%= t(:label_setting_plural) %> - <%= t(:link_versions) %></h1>
  <div class="splitcontentright">
    <%= link_to_with_permissions(
      t(:link_new_version), 
      new_version_path(@project.slug), 
      @project, 
      {:html => {:class => 'icon icon-add'}}) %></div>
</div>
<%= render :partial => 'versions/list' %>
<%= render :partial => 'settings/sidebar' %>