<%#
# Author: Nicolas Meylan
# Date: 15 août 2012
# Encoding: UTF-8
# File: version_new.html.erb
%>
<div class="contextual">
  <h1><%= t(:label_setting_plural) %> - <%= t(:link_versions) %></h1>
</div>
<%= form_for @version, :url => {:controller => 'versions'}, :html => {:class => 'form'} do |f|%>
<%= render :partial => 'versions/form', :locals => {:f => f} %>
<%= submit_tag t(:button_create) %>
<% end %>
<%= render :partial => 'settings/sidebar' %>