<%#
# Author: Nicolas Meylan
# Date: 7 juil. 2012
# Encoding: UTF-8
# File: activity.erb
%>

<div class="contextual">
  <h1><%= t(:label_activity) %></h1>
</div>
<div class="splitcontentleft">

  <div id="issues_activities">
    <%= render :partial => "project/issues_activities" %>
  </div>
</div>

<div class="splitcontentright">
  <div class="box slim">
    <div class="header"><h2><%=t(:text_other_activities)%></h2></div>
    <div id="others_activities">
      <%= render :partial => "project/activities" %>
    </div>
  </div>
</div>
<div style="clear:both">
</div>
<%= render :partial => 'project/activity_overlay' %>
<script type="text/javascript">
  createOverlay("#activity_overlay", 150);

</script>