<%= contextual "Sign in" %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form'}) do |f| %>
    <div class="box">
      <p><%= f.label :login %>
        <%= f.text_field :login %></p>

      <p><%= f.label :password %>
        <%= f.password_field :password %>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
            <%= link_to 'Forgot your password?', new_password_path(resource_name) %><br />
        <% end -%>
      </p>

      <% if devise_mapping.rememberable? -%>
          <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
      <% end -%>

    </div>
    <div>
      <%= f.submit 'Sign in' %>
      <% if  RORganize::Application.config.rorganize_allow_user_self_registration  %>
      <%= link_to t(:devise_text_registration), new_user_registration_path %>
      <% end %>
    </div>



<% end %>
