<h1><%= "##{issue_id}" %></h1>
<div class="box">
  <%= raw error_messages(time_entry.errors.full_messages) %>
  <p>
    <label for="spent_on"><%= t(:field_date) %><span class="required"> *</span></label>
    <%= f.date_field :spent_on, {size: 6, id: 'pick-calendar', onchange: ("fill_log_issue_time_overlay('#{fill_overlay_time_entries_path}',#{issue_id},this)")} %>
  </p>

  <p>
    <label for="spent_time"><%= t(:field_spent_time) %><span class="required">
      *</span></label>
    <%= f.text_field :spent_time, {size: 6} %>
    <%= t(:field_hours) %>
  </p>

  <p>
    <%= label_tag :comment, t(:field_notes) %>
    <%= f.text_area :comment, rows: 8, class: 'fancyEditor' %>
  </p>
  <%= hidden_field_tag :issue_id, issue_id %>
</div>

<input type="submit" id="" class="save" value="<%= t(:button_save) %>"/>
<input type="button" id="" class="close" value="<%= t(:button_close) %>" onclick="jQuery('#spent-time-overlay').overlay().close()"/>