<%#=
 * User: nmeylan
 * Date: 01.09.14
 * Time: 20:02
%>
<%= contextual "#{t(:text_welcome)} #{User.current.caption}" %>
<div class="splitcontentleft">
  <h2 class="underlined-title"><%= t(:link_starred) %> <%= t(:label_project_plural) %></h2>
  <%= projects_decorator.display_collection(t(:text_no_fav_project)) %>
</div>

<div class="splitcontentright">
  <%= display_overview_groups(overview_object_submitted.content, 'Opened submitted issues', 'Project', 'home-page-issues-overview-group') %>
  <%= display_overview_groups(overview_object_assigned.content, 'Opened assigned issues', 'Project', 'home-page-issues-overview-group') %>
</div>

<%= clear_both %>