<%#
# Author: Nicolas Meylan
# Date: 23 oct. 2012
# Encoding: UTF-8
# File: _form.html.erb
%>

<%= raw error_messages(@role.errors.full_messages) %>
<div class="box">
  <p>
    <label for="role_name"><%=t(:field_name)%><span class ="required"> *</span></label>
    <%= f.text_field :name, :size => 80 %>
  </p>
  <p>
  <p>
    <label><%= t(:link_issues_statuses) %></label>
    <% @old_issues_statuses.sort{|x,y| x.enumeration.position <=> y.enumeration.position}.each do |status| %>
      <label class="normal_label"><%= status.enumeration.name %><%= check_box_tag "[issues_statuses][#{status.enumeration.name}]", status.enumeration.id.to_i, @role.old_issues_statuses.include?(status)%></label>
    <% end %>
  </p>
</div>

