<%#
# Author: Nicolas Meylan
# Date: 6 févr. 2013
# Encoding: UTF-8
# File: _list.erb
%>


<div id="queries_content">
  <% if @queries && @queries.any?  %>
    <table class="query list">
      <tr class="header">
        <th><%= t(:field_name) %></th>
        <th></th>
        <th></th>
      </tr>
      <% query_ids = @queries.collect{|query| query.id}.to_json %>
      <% @queries.each do |query| %>
        <tr class="odd_even query_tr" id="<%= query.id %>">
          <td class="list_left name"><%= link_to query.name, query_path(:id => query.id) %></td>
          <td class="action"><%= link_to_with_permissions(glyph(t(:link_edit), 'pencil'),edit_query_path(query.id),nil, {}) %></td>
          <td class="action"> <%= link_to_with_permissions(glyph(t(:link_delete), 'trashcan'), query_path(query.id), @project, {:method => :delete, :remote => true, :confirm => t(:text_delete_item )}) %>

        </tr>
      <%end%>
    </table>
  <% else %>
    <h2><%= t(:text_no_data) %></h2>
  <% end %>

</div>