<%#
# Author: Nicolas Meylan
# Date: 6 févr. 2013
# Encoding: UTF-8
# File: _list.erb
%>


<div id="queries_content">
  <% if @queries && @queries.any?  %>
    <table class="query list">
      <tr class="header">
        <th><%= t(:field_name) %></th>
        <th></th>
        <th></th>
      </tr>
      <% query_ids = @queries.collect{|query| query.id}.to_json %>
      <% @queries.each do |query| %>
        <tr class="odd_even query_tr">
          <td class="list_left name"><%= link_to query.name, query_path(:id => query.id) %></td>
          <td class="action"><%= link_to_with_permissions(
              t(:link_edit), 
              edit_query_path(query.id),
              nil,
              {:html => {:class => "icon icon-edit"}}) %></td>
          <td class="action"> <%= link_to_with_permissions(t(:link_delete), 
            query_path(query.id), 
            @project, 
            {:method => :delete, 
              :target => "self",
              :html => {:class => 'icon icon-del', 
                :onclick =>  "button_delete_with_data('#{query_path(query.id)}', {queries:#{query_ids}})"}}) %>
        </tr>
      <%end%>
    </table>
  <% else %>
    <h2><%= t(:text_no_data) %></h2>
  <% end %>

</div>