<%#
# Author: Nicolas Meylan
# Date: 6 févr. 2013
# Encoding: UTF-8
# File: _list.erb
%>


<div id="queries_content">
  <% if @queries && @queries.any?  %>
    <table class="query list">
      <tr class="header">
        <th><%= t(:field_name) %></th>
        <th></th>
        <th></th>
      </tr>
      <% query_ids = @queries.collect{|query| query.id}.to_json %>
      <% @queries.each do |query| %>

        <%url = queries_path.to_s+'/'+query.id.to_s %>
        <tr class="odd_even query_tr">
          <td class="list_left name"><%= link_to query.name, query_path(:id => query.id)  %></td>
          <td class="action"><%= link_to t(:link_edit),
              edit_query_path(query.id),
              {:class => "icon icon-edit"} if current_user.allowed_to?('edit','Queries') %></td>
          <td class="action"><%= link_to t(:link_delete), '#',
              {:class => 'icon icon-del',
              :onclick => "button_delete_with_data('#{url}', {queries:#{query_ids}})"} if current_user.allowed_to?('destroy','queries') %></td>
        </tr>
      <%end%>
    </table>
  <% else %>
    <h2><%= t(:text_no_data) %></h2>
  <% end %>

</div>