<%#
# Author: Nicolas Meylan
# Date: 16 août 2012
# Encoding: UTF-8
# File: index.html.erb
%>

<div class="contextual">
  <h1><%= t(:label_setting_plural) %> - <%= t(:link_categories) %></h1>
  <div class="splitcontentright">
    <%= link_to t(:link_new_category), {:action => 'new', :project_id => @project.identifier}, {:class => 'icon icon-add'} if current_user.allowed_to?('new','Categories',@project) %>
  </div>
</div>
<%= render :partial => 'categories/list' %>
<%= render :partial => 'settings/sidebar' %>
