<%#
# Author: Nicolas Meylan
# Date: 16 août 2012
# Encoding: UTF-8
# File: index.html.erb
%>

<div class="contextual">
  <h1><%= t(:label_setting_plural) %> - <%= t(:link_categories) %></h1>
  <div class="splitcontentright">
    <%= link_to_with_permissions(
      t(:link_new_category), 
      new_category_path(@project.slug), 
      @project, 
      :class => 'icon icon-add') %>
  </div>
</div>
<%= render :partial => 'categories/list' %>
<%= render :partial => 'settings/sidebar' %>
