<%#
# Author: Nicolas Meylan
# Date: 26 janv. 2013
# Encoding: UTF-8
# File: show.html.erb
%>

<%= render :partial => 'my/sidebar'  %>
<%= contextual "Welcome #{current_user.name}" %>

<div class="splitcontentleft">
  <div class="box">
    <div class="header"><h2><%= t(:text_my_favorites_projects) %></h2></div>
    <%= @projects.display_collection  %>
  </div>
</div>
<div class="splitcontentright">
  <div class="box">
    <div class="header"><h2><%=t(:label_my_latest_assigned_request)%></h2></div>
    <% if issues %>
      <%= render :partial => 'issues/list_per_project', :locals => {:issues => issues} %>
    <% else %>
    <% end %>
  </div>
  <div class="box slim">
    <div class="header"><h2><%=t(:text_my_latest_activities)%></h2></div>
    <% if activities %>
      <%= render :partial => 'my/my_activities', :locals => {:activities => activities} %>
    <% else %>
    <% end %>
  </div>
</div>
<div style="clear:both;"></div>
