<%#
# Author: Nicolas Meylan
# Top menu
%>


<%= image_tag asset_path('rorganize_logo_3.svg'), id: 'top_menu_logo' %>
<div id="account">
  <ul>
    <% if user_signed_in? %>
      <li>Welcome
        <%= link_to current_user.name, profile_path, {:class => params[:controller].eql?('profiles') ? 'selected' : ''} %>
        <%= notification_link(current_user) %>
        <%= '|'  if current_user.is_admin? %>
        <% icon = session['act_as'].eql?('Admin') ? 'crown' : 'person'%>
        <% switch_to = icon.eql?('crown') ? 'User' : 'Admin' %>
        <% g = icon.eql?('crown') ? medium_glyph('', icon) : glyph('', icon) %>
        <%= link_to g, act_as_profile_path, { label: "Click to act as #{switch_to}", class: 'tooltipped tooltipped-s'} if current_user.is_admin?%>
        <%= link_to(glyph('', 'sign-out'), destroy_user_session_path, :method => :delete, label: "Sign out", class: 'tooltipped tooltipped-s')%>
      </li>
    <%else%>
      <li><%= link_to glyph('', 'sign-in'), new_user_session_path, label: "Sign in", class: 'tooltipped tooltipped-s' %></li>
    <%end%>
  </ul>
</div>

<ul id="top_menu_items">
  <% render_top_menu %>
  <%= yield :top_menu_items %>
</ul>

