<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <title><%= title_tag %></title>
  <% favicon_link_tag 'rorganize_logo_2.svg', type: 'image/svg+xml' %>
  <%= favicon_link_tag 'rorganize_logo_3.png', type: 'image/png' %>
  <%= include_gon :init => true %>
  <%#= CSS Files %>
  <%= stylesheet_link_tag 'application' %>
  <%#= JS Files %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
<%# HACK quick and dirty =( %>
<% session['act_as'] ||= 'User' %>
<% User.current.act_as_admin(session['act_as']) if User.current && session['act_as'] != User.current.act_as_admin_session %>
<div id="top_menu"><%= render :partial => 'layouts/top_menu' %></div>
<div id="header">
  <h1>
    <% if @project && @project.attachments.to_a.any? && !@project.attachments.first.id.nil? %>
        <%= image_tag @project.attachments.first.file.url(:logo), {:align => :left, :id => 'project_logo'} %>
    <% end %>
    <%= @project ? @project.name : 'RORganize' %><%# Here what you want %>
  </h1>
</div>
<% if display_menu?(@project) %>
    <%= render :partial => 'layouts/main_menu' %>
<% end %>
<%= tag('div', {:id => 'main', :class => (sidebar_content? ? '' : 'nosidebar')}, true) %>
<%= render :partial => 'flashs/flash' %>
<div id="sidebar">
  <%= yield :sidebar %>
</div>
<div id="content">
  <div id="contextual"><%= yield :contextual %></div>
  <%= yield %>
</div>
<div id="loading"><p>Sending request...</p></div>
<div id="highlight_search" class="octicon octicon-search">
  <span id="highlight_search_result_count"></span>
  <input type="text" name="highlight_search" id="highlight_search_input" placeholder="search on page...">
</div>
<%= render partial: 'layouts/footer' %>
</body>
</html>
