<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <title><%= title_tag %></title>
  <%= include_gon :init => true %>
  <%#= CSS Files %>
  <%= stylesheet_link_tag 'application' %>
  <%#= JS Files %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
<%# HACK quick and dirty =( %>
<% session['act_as'] ||= 'User' %>
<% current_user.act_as_admin(session['act_as']) if current_user && session['act_as'] != current_user.act_as_admin_session %>
<div id="top_menu"><%= render :partial => 'layouts/top_menu' %></div>
<div id="header">
  <h1>
    <% if @project && @project.attachments.to_a.any? && !@project.attachments.first.id.nil? %>
        <%= image_tag @project.attachments.first.file.url(:logo), {:align => :left, :id => 'project_logo'} %>
    <% end %>
    <%= @project ? @project.name : 'RORganize' %><%# Here what you want %>
  </h1>
</div>
<% if display_menu?(@project) %>
    <%= render :partial => 'layouts/main_menu' %>
<% end %>
<%= tag('div', {:id => 'main', :class => (sidebar_content? ? '' : 'nosidebar')}, true) %>
<%= render :partial => 'flashs/flash' %>
<div id="sidebar">
  <%= yield :sidebar %>
</div>
<div id="content">
  <div id="contextual"><%= yield :contextual %></div>
  <%= yield %>
</div>
<div id="loading"><p>Sending request...</p></div>
<div id="debug"></div>
<div id="footer">RORganize 2012 - 2014 by Nicolas Meylan</div>
</body>
</html>
