<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <title>RORganize</title>
<%#= JS Files %>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag "prototype.js"%>

<%#= Engines files %>

<%#= CSS Files %>
  <%= stylesheet_link_tag 'application' %>


</head>
    <body>
        <%# HACK quick and dirty =( %>
        <% session['act_as'] ||= 'User' %>
        <% current_user.act_as_admin(session['act_as']) if current_user && session['act_as'] != current_user.act_as_admin_session %>
        <div id="top_menu"><%= render :partial => 'layouts/top_menu' %></div>
        <div id="header">
          <h1>
            <% if @project && @project.attachments.any? %>
                <% for attachment in @project.attachments %>
                    <%= image_tag attachment.file.url(:logo), {:align => :left, :id => 'project_logo'} if attachment.id %>
                <% end %>
            <% end %>
            <%= @project ? @project.name : 'RORganize' %><%# Here what you want %>
          </h1>
        </div>
        <% if display_menu?(@project) %>
            <%= render :partial => 'layouts/main_menu' %>
        <% end %>
        <%= tag('div', {:id => 'main', :class => (sidebar_content? ? '' : 'nosidebar')}, true) %>
        <%= render :partial => 'flashs/flash' %>
        <div id="sidebar">
          <%= yield :sidebar %>
        </div>
        <div id="content">
          <%= yield %>
        </div>
        </div>
        <div id="loading"><p>Loading...<img src="/assets/loading.gif"/></p></div>
        <div id="debug">
        </div>
        <div id="footer">RORganize 2012 - 2013 by Nicolas Meylan</div>
    </body>
<script type="text/javascript">
    jQuery(document).ajaxSend(function(e, xhr, options) {
        jQuery("#loading").show();
        var token = jQuery("meta[name='csrf-token']").attr("content");
        xhr.setRequestHeader("X-CSRF-Token", token);
    });
</script>
</html>
