<%#
# Author: Nicolas Meylan
# Date: 30 sept. 2012
# Encoding: UTF-8
# File: _list.html.erb
%>
<div id="members_content">
  <table class="member list">
    <tr class="header">
      <th>Name</th>
      <th class="list_left">Role</th>
      <th></th>
    </tr>
    <% @members.each do |member| %>
      <tr class="odd_even" id="<%=member.id%>">
        <td class="list_center name"><%= member.user.name %></td>
        <td class="list role">
          <div class="autocomplete-combobox cbb-medium nosearch">
            <% if current_user.allowed_to?('change_role','Members',@project) %>
              <%= select_tag('roles_'+member.id.to_s,
                options_from_collection_for_select(roles, 'id', 'name',member.role ? member.role.id.to_s : ''),
                {:class => 'chzn-select cbb-medium', :include_blank => true, 'data-link' => change_role_members_path(@project.slug, member.id)} )%>
            <% else %>
              <%= member.role.name %>
            <% end %>
          </div>
        </td>
        <td class="action">
          <%= link_to_with_permissions(t(:link_delete), member_path(@project.slug, member.id),  @project,
            {:method => :delete,:remote => true,:confirm => t(:text_delete_item),:class => 'icon icon-del' }) %>
        </td>
      </tr>
    <%end%>
  </table>
  <%= render :partial => 'members/add_overlay', :locals => {:roles => roles, :users => users} %>
</div>
