<%#
# Author: Nicolas Meylan
# Date: 30 sept. 2012
# Encoding: UTF-8
# File: index.html.erb
%>

<div class="contextual">
  <h1><%= t(:label_setting_plural) %> - <%= t(:link_members) %></h1>
  <div class="splitcontentright">
    <%= link_to_with_permissions(
      glyph(t(:link_add_member), 'plus'),
      new_member_path(@project.slug), 
      @project,
      {:method => :get,
        :remote => true,
        :id => 'add_members'})%>
  </div>
</div>
<%= render :partial => 'settings/sidebar' %>
<%= render :partial => 'members/list', :locals => {:roles => roles, :users => users} %>

